@import '../variables/mixins';

.l-footer {
  position: relative;
  background-image: url(../../images/background_footer.png);
  border-top: 2px solid $goldAlpha;

  .menu-name-main-menu {
    > ul.menu {
      text-align: center;

      > li {
        display: inline-block;
        vertical-align: top;
        padding: 48px;

        > a {
          font-family: Dancing;
          color: white;
          font-size: 25px;
          text-decoration: none;
          color: white;
        }

        ul.menu {
          text-align: center;
          margin-top: 20px;

          li {
            list-style-type: none;
            list-style-image: none;
            margin-bottom: 3px;

            a {
              font-family: Didot;
              color: white;
              font-size: 11px;
              text-transform: uppercase;
              text-decoration: none;
            }
          }
        }
      }
    }
  }

  #block-main-footer-legals {
    width: 960px;
    margin: auto;

    #footer-legals {
      position: relative;
      width: 100%;
      text-align: center;
      padding-top: 10px;
      padding-bottom: 40px;
      font-family: Didot;

      &:before {
        content: '';
        position: absolute;
        top: -10px;
        left: 50%;
        @include transform(translateX(-50%));
        width: 100%;
        height: 1px;
        background-color: white;
      }

      a {
        color: $yellowFont;
      }
    }
  }
}

@media only screen and (max-width: $tabletBreakpoint) {
  .l-footer {
    #block-main-footer-legals {
      width: 100%;
    }

    #footer-legals {
      font-size: 4vw;
    }

    .menu-name-main-menu {
      > ul.menu {
        text-align: center;
        padding: 12px 0;

        > li {
          display: block;
          padding: 10px;

          ul.menu {
            display: none;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: $tabletBreakpoint) and (max-width: $desktopBreakpoint) {
  .l-footer {
    #block-main-footer-legals {
      width: 100%;
    }

    #footer-legals {
      font-size: 2vw;
    }

    .menu-name-main-menu {
      > ul.menu {
        > li {
          padding: 35px 15px;
        }
      }
    }
  }
}