@font-face {
  font-family: 'Dancing';
  font-weight: normal;
  font-style: normal;
  src: url('#{$themeUrl}fonts/DancingScript-Regular.otf') format('truetype');
}

@font-face {
  font-family: 'Didot';
  font-weight: normal;
  font-style: normal;
  src: url('#{$themeUrl}fonts/TheanoDidot-Regular.ttf') format('truetype');
}