@import 'variables';
@import 'animations';
@import 'fonts';

@mixin transform($t) {
  transform: $t;
  -webkit-transform: $t;
  -moz-transform: $t;
  -o-transform: $t;
  -ms-transform: $t;
}

@mixin transform-origin($t) {
  transform-origin: $t;
  -webkit-transform-origin: $t;
  -moz-transform-origin: $t;
  -o-transform-origin: $t;
  -ms-transform-origin: $t;
}

@mixin transition($t) {
  transition: $t;
  -webkit-transition: $t;
  -moz-transition: $t;
  -o-transition: $t;
  -ms-transition: $t;
}

@mixin transition2($t1, $t2) {
  transition: $t1, $t2;
  -webkit-transition: $t1, $t2;
  -moz-transition: $t1, $t2;
  -o-transition: $t1, $t2;
  -ms-transition: $t1, $t2;
}

@mixin filter($t) {
  filter: $t;
  -webkit-filter: $t;
  -moz-filter: $t;
  -o-filter: $t;
  -ms-filter: $t;
}

@mixin box-shadow($t) {
  box-shadow: $t;
  -webkit-box-shadow: $t;
  -moz-box-shadow: $t;
  -o-box-shadow: $t;
  -ms-box-shadow: $t;
}

@mixin animation($t) {
  animation: $t;
  -webkit-animation: $t;
  -moz-animation: $t;
  -o-animation: $t;
}