@import 'variables';
@import 'fonts';

@mixin transform($t) {
  transform: $t;
  -webkit-transform: $t;
  -moz-transform: $t;
  -oz-transform: $t;
  -ms-transform: $t;
}

@mixin transform-origin($t) {
  transform-origin: $t;
  -webkit-transform-origin: $t;
  -moz-transform-origin: $t;
  -oz-transform-origin: $t;
  -ms-transform-origin: $t;
}

@mixin transition($t1, $t2:"") {
  transition: $t1, unquote($t2);
  -webkit-transition: $t1, unquote($t2);
  -moz-transition: $t1, unquote($t2);
  -oz-transition: $t1, unquote($t2);
  -ms-transition: $t1, unquote($t2);
}

@mixin filter($t) {
  filter: $t;
  -webkit-filter: $t;
  -moz-filter: $t;
  -oz-filter: $t;
  -ms-filter: $t;
}