$themeUrl: '/sites/all/themes/custom/twinings/';
$darkGrey: #242327;
$gold: #cdb862;
$goldAlpha: rgba(227, 186, 67, 0.6);
$yellowFont: #edc41b;
$lightYellowFont: #f5da7a;
$yellowBck : #f6bf05;

$tabletBreakpoint : '640px';
