/drupal/*
!/drupal/sites
/drupal/sites/*
!/drupal/sites/all
/drupal/sites/all/*

/npm-debug.log
!drupal/sites/all/drush

!/drupal/sites/all/modules
/drupal/sites/all/modules/*
!/drupal/sites/all/modules/custom

!/drupal/sites/all/themes
/drupal/sites/all/themes/*
!/drupal/sites/all/themes/custom
/drupal/sites/all/themes/custom/morgane_boullier_art/css/*

/backups/*
/backups/

/.idea/*

*.DS_Store
