/drupal/*
!/drupal/sites
/drupal/sites/*
!/drupal/sites/all
/drupal/sites/all/*

!/drupal/sites/all/modules
/drupal/sites/all/modules/*
!/drupal/sites/all/modules/custom

!/drupal/sites/all/themes
/drupal/sites/all/themes/*
!/drupal/sites/all/themes/custom

/backups/*
/backups/

/.idea/*
