@import '../variables/mixins';

.page-node-15 {
  .node__content {
    position: relative;
    text-align: center;
//    background-image: url(../../images/contact/feuille_jaune.svg), url(../../images/contact/feuille_jaune2.svg), url(../../images/contact/fleur.svg), url(../../images/contact/fleur2.svg), url(../../images/contact/libellule.svg), url(../../images/contact/oiseau.svg), url(../../images/contact/papillon.svg), url(../../images/contact/petales.svg);
//    background-repeat: no-repeat;
//    background-size: 114px, 84px, 31px, 72px, 71px, 112px, 66px, 84px;
//    background-position: left 0px top 100px, left 5px top 80px, right 0px top 50px, right 5px top 70px, left 20px top 20px, right 50px top 500px, top 10px right 10px, right 10px top 100px;

    &:before {
      content:'';
      width: 820px;
      height: 517px;
      position: absolute;
      left: 50%;
      top: 110px;
      @include transform(translateX(-50%));
      background-image: url(../../images/contact/illustrations_contact.png);
      background-repeat: no-repeat;
    }
  }

  .messages {
    width: 530px;
    background: none;
    width: 530px;
    background: none;
    box-sizing: border-box;
    color: white;
    padding: 15px 0px;
    overflow: hidden;
    border-color: $gold;

    &.messages--status {
      font-family: Didot;
      font-size: 14px;
      margin-bottom: 3px;
      margin-top: 18px;
      padding: 15px;
      background: rgba(0,0,0,0.2);
    }

    li {
      font-family: Didot;
      font-size: 14px;
      margin-bottom: 3px;
    }
  }
}

@media only screen and (max-width: $tabletBreakpoint) {
  .page-node-15 {
    .node__content {
      &:before {
        content: none;
      }
    }
  }
}