@import '../variables/mixins';

.page-node-16 {
  .node__content {
    position: relative;
    text-align: center;

    &:before {
      content:'';
      width: 820px;
      height: 517px;
      position: absolute;
      left: 50%;
      top: 110px;
      @include transform(translateX(-50%));
      background-image: url(../../images/contact/illustrations_contact.png);
      background-repeat: no-repeat;
    }

    #link-wrapper {
      position: relative;
      width: 100%;
      background-image: url(../../images/banner_background.png);

      a {
        display: inline-block;
        text-decoration: none;
        padding: 10px 30px;
        margin: 40px 0;
        border: 1px solid white;
        border-radius: 10px;

        span {
          position: relative;
          color: white;
          font-size: 15px;
          font-family: Didot;

          &:before {
            content:'';
            position: absolute;
            top: 50%;
            left: -15px;
            width: 0;
            height: 0;
            border-top: 5px solid transparent;
            border-bottom: 5px solid transparent;
            border-left: 8px solid white;
            @include transform(translateY(-50%));
          }
        }
      }
    }
  }
}

@media only screen and (max-width: $tabletBreakpoint) {
  .page-node-16 {
    .node__content {
      &:before {
        content: none;
      }
    }
  }
}