@import '../../../variables/mixins';

.node--products-page.node--full {
  .group-header {
    position: relative;
    height: 32vw;
    overflow: hidden;

    .group-header-inner {
      .field--name-field-header-image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;

        img {
          width: 100%;
          height: auto;
        }
      }
    }

    .group-title {
      position: absolute;
      top: 50%;
      left: 50%;
      display: inline-block;
      text-align: center;
      @include transform(translateX(-50%) translateY(-50%));

      &:before {
        content: '';
        width: 150%;
        height: 300%;
        position: absolute;
        top: 50%;
        left: 50%;
        @include transform(translateX(-50%) translateY(-50%));
        background-image: url(../../../../images/nos-trouvailles/feuilles_titre.svg), url(../../../../images/nos-trouvailles/oiseau_titre.svg), url(../../../../images/nos-trouvailles/fleur_titre.svg);
        background-repeat: no-repeat;
        background-size: 47px, 50px, 49px;
        background-position: left 11% bottom 31%, left 14% top 29%, right 13% top 32%;
      }

      .group-title-inner {
        position: relative;
        display: inline-block;
        background-image: url(../../../../images/shadow_title.png);
        background-size: 100%;
        padding: 15px 30px;

        &:before, &:after {
          content: '';
          position: absolute;
          left: 50%;
          width: 100%;
          height: 1px;
          z-index: 1;
          background-image: url(../../../../images/filet.png);
          background-repeat: no-repeat;
          background-position: center;
          background-size: 100%;
          @include transform(translateX(-50%));
        }

        &:before {
          top: 0;
        }

        &:after {
          bottom: 0;
        }

        .field--name-title-field {
          font-family: Dancing;
          font-size: 50px;
          color: $yellowFont;
          margin-bottom: 5px;
        }

        .field--name-field-subtitle {
          font-family: Didot;
          font-size: 30px;
          line-height: 35px;
          color: white;
          text-transform: uppercase;
          text-align: center;
        }
      }
    }
  }

  #banner-wrapper {
    position: relative;
    z-index: 1;

    .field--name-field-banner {
      padding: 50px 0;
      color: black;
      font-family: Didot;
      font-size: 16px;
      line-height: 20px;
      background-image: url(../../../../images/the-comme-twinings/carafe_bandeau.svg), url(../../../../images/the-comme-twinings/tasse_bandeau.svg), url(../../../../images/ricepaper_pink.png);
      background-repeat: no-repeat, no-repeat, repeat;
      background-position: 22% 9px, left 80% bottom 8px, center;
      background-size: 100px, 100px, 485px 485px;

      &:after {
        content: '';
        position: absolute;
        bottom: -10px;
        height: 10px;
        width: 100%;
        background-image: url(../../../../images/triangle_pink.png);
        background-repeat: repeat-x;
        background-size: 11px;
      }

      .field__item {
        width: 620px;
        margin: auto;
      }
    }
  }

  button#scroll-down {
    background-image: url(../../../../images/ricepaper_pink.png);
  }

  .field--name-field-products {
    padding-bottom: 100px;
    background-image: url(../../../../images/feuilles_filigrane_left.svg), url(../../../../images/feuilles_filigrane_right.svg);
    background-repeat: repeat-y, repeat-y;
    background-position: left 10px top 550px, right 10px top 150px;
    background-size: 200px, 200px;

    .view {
      text-align: center;

      .views-row {
        margin-bottom: 12px;
      }

      .view-filters {
        background-color: $yellowBck;

        form {
          position: relative;
          width: 960px;
          margin: auto;

          .ajax-progress-throbber {
            top: 90px;
          }

          #edit-field-category-tid-wrapper {
            float: none;
            padding: 0;

            #edit-field-category-tid {
              width: 100%;

              .form-type-radio {
                display: inline-block;
                vertical-align: middle;
                text-align: center;

                label {
                  position: relative;
                  display: block;
                  padding: 20px 15px;
                  margin-top: 10px;
                  max-width: 130px;
                  font-family: Didot;
                  font-size: 14px;
                  color: black;
                  text-transform: uppercase;
                  cursor: pointer;
                }

                &:last-of-type label {
                  padding-left: 45px;
                  background-image: url(../../../../images/papillon_rose.svg);
                  background-size: 20px;
                  background-position: left 15px top 15px;
                  background-repeat: no-repeat;
                }

                input {
                  display: none;

                  &[checked] + label:after {
                    content: '';
                    position: absolute;
                    left: 50%;
                    bottom: -8px;
                    @include transform(translateX(-50%));
                    width: 0;
                    height: 0;
                    border-left: 6px solid transparent;
                    border-bottom: 9px solid #313539;
                    border-right: 6px solid transparent;
                  }
                }
              }
            }
          }
        }
      }

      .product-category-label {
        display: inline-block;
        font-family: Dancing;
        font-size: 30px;
        padding: 30px 0px;
        margin-top: 15px;
        margin-bottom: 25px;
        border-bottom: 1px solid white;
        color: $yellowFont;
        background-image: -webkit-gradient(
                        linear,
                        left top,
                        right top,
                        color-stop(0.43, #f6bf08),
                        color-stop(0.68, white),
                        color-stop(0.96, #f6bf08)
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }

      .view-content {
        width: 960px;
        margin: auto;
        text-align: center;

        .views-row {
          display: inline-block;
          vertical-align: top;
        }
      }
    }
  }

  #choose-category {
    display: none;
  }
}

@media only screen and (max-width: $tabletBreakpoint) {
  .node--products-page.node--full {
    .group-header {
      height: 100vw;

      .group-header-inner {
        .field--name-field-header-image {
          .field__item {
            position: relative;
            height: 100vw;

            img {
              position: absolute;
              top: 0;
              left: 50%;
              height: 100vw;
              width: auto;
              @include transform(translateX(-50%));
            }
          }
        }
      }

      .group-title {
        width: 80vw;

        .group-title-inner {
          .field--name-title-field {
            font-size: 12vw;
          }

          .field--name-field-subtitle {
            font-size: 6vw;
            line-height: 7vw;
          }
        }
      }
    }

    &:not(.parent) .group-header .group-title .group-title-inner {
      .field--name-title-field {
        font-size: 7vw !important;
        line-height: 8vw !important;
      }
    }

    #banner-wrapper {
      .field--name-field-banner {
        padding: 50px 27px;

        &:after {
          left: 0;
        }

        .field__item {
          width: 100%;
        }
      }
    }

    .field--name-field-products {
      .view {
        .view-filters {
          display: none;
          position: fixed;
          top: 50%;
          left: 50%;
          @include transform(translateX(-50%) translateY(-50%));
          width: 95%;
          z-index: 10;

          form {
            width: 100%;

            #edit-field-category-tid-wrapper {
              #edit-field-category-tid {
                .form-type-radio {
                  display: block;

                  &:not(:last-of-type) label {
                    &:before {
                      content: '';
                      position: absolute;
                      bottom: 0;
                      left: 50%;
                      @include transform(translateX(-50%));
                      height: 1px;
                      width: 90%;
                      background-color: black;
                    }
                  }

                  &:last-of-type label {
                    background-position: left 55px top 15px;
                  }

                  label {
                    position: relative;
                    width: 100%;
                    max-width: inherit;
                    box-sizing: border-box;

                    &:after {
                      bottom: 0 !important;
                    }
                  }

                  &:last-of-type label {
                    padding-left: 15px;
                  }
                }
              }
            }
          }
        }

        .view-content {
          width: 90%;
        }
      }
    }

    #choose-category {
      position: relative;
      display: block;
      width: 100%;
      text-align: center;
      text-transform: uppercase;
      font-family: Didot;
      color: black;
      padding-top: 25px;
      padding-bottom: 20px;
      background-color: $yellowBck;

      &:before {
        content: '';
        position: absolute;
        top: 55%;
        right: 10px;
        @include transform(translateY(-50%));
        width: 30px;
        height: 30px;
        border: 1px solid black;
        border-radius: 50%;
      }

      &:after {
        content: '';
        position: absolute;
        top: 55%;
        right: 20px;
        @include transform(translateY(-50%));
        width: 0px;
        height: 0px;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-top: 8px solid black;
      }
    }
  }
}

@media only screen and (min-width: $tabletBreakpoint) and (max-width: $desktopBreakpoint) {
  .node--products-page.node--full {
    .group-header {
      height: 60vw;

      .group-header-inner {
        .field--name-field-header-image {
          .field__item {
            position: relative;
            height: 100vw;

            img {
              position: absolute;
              top: 0;
              left: 50%;
              height: 100vw;
              width: auto;
              @include transform(translateX(-50%));
            }
          }
        }
      }

      .group-title {
        width: 60vw;

        &:before {
          width: 110%;
          z-index: 2;
        }

        .group-title-inner {
          .field--name-title-field {
            font-size: 7vw;
          }

          .field--name-field-subtitle {
            font-size: 3vw;
            line-height: 4vw;
          }
        }
      }
    }

    .field--name-field-products {
      .view {
        .view-filters {
          form {
            width: 100%;

            #edit-field-category-tid-wrapper #edit-field-category-tid {
              text-align: center;

              .form-type-radio label {
                font-size: 1.3vw;
              }
            }
          }
        }

        .view-content {
          width: 100%;
        }
      }
    }
  }
}