$themeUrl: '/sites/all/themes/custom/morgane_boullier_art/';
$darkGrey: #68696A;
$gold: #cdb862;
$goldAlpha: rgba(227, 186, 67, 0.6);
$yellowFont: #edc41b;
$lightYellowFont: #f5da7a;
$yellowBck : #f6bf05;
$green: #9bab3f;
$beige: #f5f2ef;

$tabletBreakpoint : '640px';
$desktopBreakpoint : '1024px';
