@import '../../variables/mixins';

#block-main-prehome-cup {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 10;
  width: 100%;
  height: 1000px;

  .fullscreen {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
  }

  .block__content {
    background: url("../../../images/prehome-cup/background.png");
    background-position: 50% 50%;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;

    .background-overlay {
      background: radial-gradient(transparent, rgba(0, 0, 0, 1));
      background-position: 50% 50%;
    }
  }

  .prehome-cup {
    position: absolute;
    top: 50%;
    left: 50%;
    @include transform(translateX(-50%) translateY(-50%) !important);
    text-align: center;
  }

  #patterns {
    width: 495px;
    height: 132px;
  }

  canvas.smoke {
    position: absolute;
    top: -230px;
    left: 50%;
    @include transform(translateX(-50%));
  }

  .cup {
    width: 339px;
    height: 138px;
    background: url("../../../images/prehome-cup/cup.png");
    margin: auto;
    position: relative;
    left: 15px;
  }

  .texts {
    color: $yellowFont;
    font-family: Dancing;
    font-size: 35px;
  }

  .call {
    font-family: Didot;
    font-size: 12px;
    text-transform: uppercase;
    margin: 15px;
  }
  .mouse {
    svg {
      width: 14px;
      height: 22px;
    }
  }
}