@import '../../variables/mixins';

#block-main-home-scroll-banner {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 320px;
  background-image: url(../../../images/teapot.svg), url(../../../images/ricepaper_yellow.png);
  background-repeat: no-repeat, repeat;
  background-position: center -25px, center;
  background-size: 685px, 485px 485px;

  &:after {
    content: '';
    position: absolute;
    bottom: -10px;
    height: 10px;
    width: 100%;
    background-image: url(../../../images/triangle_yellow.png);
    background-repeat: repeat-x;
    background-size: 11px;
  }

  button#scroll-down {
    background-image: url(../../../images/ricepaper_yellow.png);
  }

  .text {
    position: absolute;
    top: 45%;
    left: 50%;
    @include transform(translateX(-50%) translateY(-50%));
    font-family: Dancing;
    font-size: 45px;
  }

  a#discover {
    display: block;
    position: absolute;
    top: 70%;
    left: 50%;
    @include transform(translateX(-50%) translateY(-50%));
    font-family: Didot;
    font-size: 15px;
    border: 1px solid white;
    border-radius: 10px;
    padding: 13px 40px;
    color: white;
    text-decoration: none;

    &:before {
      content: '';
      position: absolute;
      top: 50%;
      left: 20px;
      @include transform(translateY(-50%));
      width: 0;
      height: 0;
      border-top: 5px solid transparent;
      border-left: 8px solid white;
      border-bottom: 5px solid transparent;
    }
  }
}