@keyframes swipeDown {
  from {
    -ms-transform: translateY(-100%); }
  to {
    -ms-transform: translateY(0); } }

@keyframes swipeDown {
  from {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%); }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0); } }

@-webkit-keyframes swipeDown {
  from {
    -webkit-transform: translateY(-100%); }
  to {
    -webkit-transform: translateY(0); } }

@keyframes swipeDownBack {
  from {
    -ms-transform: translateY(0); }
  to {
    -ms-transform: translateY(-100%); } }

@keyframes swipeDownBack {
  from {
    -webkit-transform: translateY(0);
            transform: translateY(0); }
  to {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%); } }

@-webkit-keyframes swipeDownBack {
  from {
    -webkit-transform: translateY(0); }
  to {
    -webkit-transform: translateY(-100%); } }

@keyframes swipeUp {
  from {
    -webkit-transform: translateY(100%);
            transform: translateY(100%); }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0); } }

@-webkit-keyframes swipeUp {
  from {
    -webkit-transform: translateY(100%); }
  to {
    -webkit-transform: translateY(0); } }

@keyframes swipeUp {
  from {
    -ms-transform: translateY(100%); }
  to {
    -ms-transform: translateY(0); } }

@keyframes swipeLeft {
  from {
    -webkit-transform: translateX(100%);
            transform: translateX(100%); }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0); } }

@-webkit-keyframes swipeLeft {
  from {
    -webkit-transform: translateX(100%); }
  to {
    -webkit-transform: translateX(0); } }

@keyframes swipeLeft {
  from {
    -ms-transform: translateX(100%); }
  to {
    -ms-transform: translateX(0); } }

@keyframes swipeRight {
  from {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%); }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0); } }

@-webkit-keyframes swipeRight {
  from {
    -webkit-transform: translateX(-100%); }
  to {
    -webkit-transform: translateX(0); } }

@keyframes swipeRight {
  from {
    -ms-transform: translateX(-100%); }
  to {
    -ms-transform: translateX(0); } }

@keyframes spin {
  0% {
    -ms-transform: rotate(0deg); }
  50% {
    -ms-transform: rotate(180deg); }
  100% {
    -ms-transform: rotate(360deg); } }

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg); }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg); }
  50% {
    -webkit-transform: rotate(180deg); }
  100% {
    -webkit-transform: rotate(360deg); } }

@font-face {
  font-family: 'Didot';
  src: url("/sites/all/themes/custom/twinings/fonts/theanodidot-regular-webfont.eot");
  src: url("/sites/all/themes/custom/twinings/fonts/theanodidot-regular-webfont.eot?#iefix") format("embedded-opentype"), url("/sites/all/themes/custom/twinings/fonts/theanodidot-regular-webfont.woff2") format("woff2"), url("/sites/all/themes/custom/twinings/fonts/theanodidot-regular-webfont.woff") format("woff"), url("/sites/all/themes/custom/twinings/fonts/theanodidot-regular-webfont.ttf") format("truetype"), url("/sites/all/themes/custom/twinings/fonts/theanodidot-regular-webfont.svg#theano_didotregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Dancing';
  src: url("/sites/all/themes/custom/twinings/fonts/dancingscript-regular-webfont.eot");
  src: url("/sites/all/themes/custom/twinings/fonts/dancingscript-regular-webfont.eot?#iefix") format("embedded-opentype"), url("/sites/all/themes/custom/twinings/fonts/dancingscript-regular-webfont.woff2") format("woff2"), url("/sites/all/themes/custom/twinings/fonts/dancingscript-regular-webfont.woff") format("woff"), url("/sites/all/themes/custom/twinings/fonts/dancingscript-regular-webfont.ttf") format("truetype"), url("/sites/all/themes/custom/twinings/fonts/dancingscript-regular-webfont.svg#dancing_script_otregular") format("svg");
  font-weight: normal;
  font-style: normal; }

.page-node-2 .group-content-links {
  background-image: url(../../images/background_global.png), url(../../images/feuilles_filigrane_left.svg), url(../../images/feuilles_filigrane_right.svg), url(../../images/pattern_background.png);
  background-repeat: no-repeat, repeat-y, repeat-y, repeat;
  background-position: center bottom, left 10px top 550px, right 10px top 150px, center bottom;
  background-size: 805px 1057px, 200px, 200px, 520px 520px; }
  .page-node-2 .group-content-links .field--name-field-content-links .field__item:nth-of-type(1) .node {
    top: 230px; }
    .page-node-2 .group-content-links .field--name-field-content-links .field__item:nth-of-type(1) .node:before, .page-node-2 .group-content-links .field--name-field-content-links .field__item:nth-of-type(1) .node:after {
      top: -130px; }
    .page-node-2 .group-content-links .field--name-field-content-links .field__item:nth-of-type(1) .node:after {
      height: 130px; }
  .page-node-2 .group-content-links .field--name-field-content-links .field__item:nth-of-type(2) .node {
    top: 330px; }
  .page-node-2 .group-content-links .field--name-field-content-links .field__item:nth-of-type(3) .node {
    top: 670px; }
    .page-node-2 .group-content-links .field--name-field-content-links .field__item:nth-of-type(3) .node:before, .page-node-2 .group-content-links .field--name-field-content-links .field__item:nth-of-type(3) .node:after {
      top: -80px; }
    .page-node-2 .group-content-links .field--name-field-content-links .field__item:nth-of-type(3) .node:after {
      height: 80px; }
  .page-node-2 .group-content-links .field--name-field-content-links .field__item:nth-of-type(4) .node {
    top: 760px; }
    .page-node-2 .group-content-links .field--name-field-content-links .field__item:nth-of-type(4) .node:before, .page-node-2 .group-content-links .field--name-field-content-links .field__item:nth-of-type(4) .node:after {
      top: -80px; }
    .page-node-2 .group-content-links .field--name-field-content-links .field__item:nth-of-type(4) .node:after {
      height: 80px; }

/*# sourceMappingURL=la-decouverte.css.map */
