@import '../../variables/mixins';

button#scroll-down {
  position: absolute;
  top: -40px;
  left: 50%;
  @include transform(translateX(-50%));
  height: 55px;
  width: 100px;
  border-radius: 90px 90px 0 0;
  background-image: url(../../../images/banner_background.png);

  &:before, &:after {
    content: '';
    position: absolute;
    left: 50%;
    @include transform(translateX(-50%) rotate(-45deg));
    width: 12px;
    height: 12px;
    border-left: 3px solid white;
    border-bottom: 3px solid white;
  }

  &:before {
    top: 9px;
  }

  &:after {
    top: 16px;
  }
}