@keyframes swipeDown {
  from {
    -ms-transform: translateY(-100%); }
  to {
    -ms-transform: translateY(0); } }

@keyframes swipeDown {
  from {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%); }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0); } }

@-webkit-keyframes swipeDown {
  from {
    -webkit-transform: translateY(-100%); }
  to {
    -webkit-transform: translateY(0); } }

@keyframes swipeDownBack {
  from {
    -ms-transform: translateY(0); }
  to {
    -ms-transform: translateY(-100%); } }

@keyframes swipeDownBack {
  from {
    -webkit-transform: translateY(0);
            transform: translateY(0); }
  to {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%); } }

@-webkit-keyframes swipeDownBack {
  from {
    -webkit-transform: translateY(0); }
  to {
    -webkit-transform: translateY(-100%); } }

@keyframes swipeUp {
  from {
    -webkit-transform: translateY(100%);
            transform: translateY(100%); }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0); } }

@-webkit-keyframes swipeUp {
  from {
    -webkit-transform: translateY(100%); }
  to {
    -webkit-transform: translateY(0); } }

@keyframes swipeUp {
  from {
    -ms-transform: translateY(100%); }
  to {
    -ms-transform: translateY(0); } }

@keyframes swipeLeft {
  from {
    -webkit-transform: translateX(100%);
            transform: translateX(100%); }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0); } }

@-webkit-keyframes swipeLeft {
  from {
    -webkit-transform: translateX(100%); }
  to {
    -webkit-transform: translateX(0); } }

@keyframes swipeLeft {
  from {
    -ms-transform: translateX(100%); }
  to {
    -ms-transform: translateX(0); } }

@keyframes swipeRight {
  from {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%); }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0); } }

@-webkit-keyframes swipeRight {
  from {
    -webkit-transform: translateX(-100%); }
  to {
    -webkit-transform: translateX(0); } }

@keyframes swipeRight {
  from {
    -ms-transform: translateX(-100%); }
  to {
    -ms-transform: translateX(0); } }

@keyframes spin {
  0% {
    -ms-transform: rotate(0deg); }
  50% {
    -ms-transform: rotate(180deg); }
  100% {
    -ms-transform: rotate(360deg); } }

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg); }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg); }
  50% {
    -webkit-transform: rotate(180deg); }
  100% {
    -webkit-transform: rotate(360deg); } }

@font-face {
  font-family: 'Didot';
  src: url("/sites/all/themes/custom/twinings/fonts/theanodidot-regular-webfont.eot");
  src: url("/sites/all/themes/custom/twinings/fonts/theanodidot-regular-webfont.eot?#iefix") format("embedded-opentype"), url("/sites/all/themes/custom/twinings/fonts/theanodidot-regular-webfont.woff2") format("woff2"), url("/sites/all/themes/custom/twinings/fonts/theanodidot-regular-webfont.woff") format("woff"), url("/sites/all/themes/custom/twinings/fonts/theanodidot-regular-webfont.ttf") format("truetype"), url("/sites/all/themes/custom/twinings/fonts/theanodidot-regular-webfont.svg#theano_didotregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Dancing';
  src: url("/sites/all/themes/custom/twinings/fonts/dancingscript-regular-webfont.eot");
  src: url("/sites/all/themes/custom/twinings/fonts/dancingscript-regular-webfont.eot?#iefix") format("embedded-opentype"), url("/sites/all/themes/custom/twinings/fonts/dancingscript-regular-webfont.woff2") format("woff2"), url("/sites/all/themes/custom/twinings/fonts/dancingscript-regular-webfont.woff") format("woff"), url("/sites/all/themes/custom/twinings/fonts/dancingscript-regular-webfont.ttf") format("truetype"), url("/sites/all/themes/custom/twinings/fonts/dancingscript-regular-webfont.svg#dancing_script_otregular") format("svg");
  font-weight: normal;
  font-style: normal; }

form.main-contact-form label {
  display: none; }

form.main-contact-form #edit-top-block {
  position: relative;
  left: 45px;
  width: 600px;
  margin: auto;
  margin-top: 0;
  margin-bottom: 50px; }
  form.main-contact-form #edit-top-block .form-type-textfield, form.main-contact-form #edit-top-block .form-type-date-popup {
    display: inline-block;
    vertical-align: top;
    width: 250px;
    height: 30px; }
  form.main-contact-form #edit-top-block .form-type-textarea {
    width: 530px; }
  form.main-contact-form #edit-top-block .container-inline-date {
    display: inline-block; }
  form.main-contact-form #edit-top-block .form-item:nth-of-type(2n+1) {
    margin-right: 25px;
    margin-bottom: 20px; }

form.main-contact-form #edit-bottom-block {
  background-image: url(../../../images/ricepaper_yellow.png);
  padding: 30px 0px; }
  form.main-contact-form #edit-bottom-block .form-item {
    position: relative;
    left: 40px;
    width: 500px;
    margin: auto;
    margin-bottom: 20px; }
  form.main-contact-form #edit-bottom-block #edit-actions {
    text-align: center; }

@media only screen and (max-width: 640px) {
  form.main-contact-form #edit-top-block {
    width: 100%;
    left: 0;
    text-align: center; }
    form.main-contact-form #edit-top-block .form-item {
      margin-right: 0 !important; }
    form.main-contact-form #edit-top-block .container-inline-date {
      width: 90%; }
    form.main-contact-form #edit-top-block > .form-type-textfield {
      width: 90%; }
    form.main-contact-form #edit-top-block .form-type-date-popup {
      width: 100%; }
    form.main-contact-form #edit-top-block .form-item-birthday-date {
      width: 100%; }
    form.main-contact-form #edit-top-block .form-type-textarea {
      width: 90%;
      margin: auto !important;
      margin-bottom: 20px !important; } }

/*# sourceMappingURL=contact-form.css.map */
