@import '../variables/mixins';

header {
  .l-branding {
    position: relative;
    z-index: 2;
    height: 50px;
    background-color: $darkGrey;
    border-bottom: 2px solid $goldAlpha;

    a.site-logo {
      position: absolute;
      top: 10px;
      left: 20px;
      z-index: 1;

      img {
        @include box-shadow(0px 0px 10px 0px black);
      }
    }

    .l-region--branding {
      position: absolute;
      top: 50%;
      right: 0;
      @include transform(translateY(-50%));

      >div {
        display: inline-block;
        vertical-align: middle;
      }
    }
  }

  .l-region--navigation {
    position: relative;

    #block-main-main-menu-button {
      width: 115px;
      height: 115px;
      position: absolute;
      top: -75px;
      left: 50%;
      z-index: 2;
      @include transform(translateX(-50%));

      .block__content {
        #container {
          position: absolute;
          bottom: 5px;
          height: 37px;
          width: 115px;
          overflow: hidden;
          box-sizing: border-box;

          div {
            width: 115px;
            height: 115px;
            border-radius: 50%;
            background-color: $darkGrey;
            border: 2px solid $goldAlpha;
            position: absolute;
            bottom: 0;
            box-sizing: border-box;
          }
        }
      }

      button {
        position: absolute;
        top: 37%;
        left: 50%;
        height: 115px;
        width: 100px;
        @include transform(translateX(-50%) translateY(-50%));

        div {
          text-align: center;
          text-transform: uppercase;
          font-family: Didot;
          font-size: 10px;
        }

        > svg {
          position: absolute;
          bottom: 17px;
          left: 50%;
          @include transform(translateX(-50%));
        }
      }
    }
  }

  .menu-name-main-menu {
    position: absolute;
    width: 100%;
    height: 223px;
    z-index: 1;
    background: url(../../images/ricepaper_pink.png);
    @include transition(top .4s ease-out);
    @include box-shadow(0px 0px 10px 0px black);
    @include transform(translateY(-100%));
    @include animation(swipeDownBack .4s ease-out 1 alternate forwards);

    &.open {
      @include animation(swipeDown .4s ease-out 1 alternate forwards);
    }

    > ul.menu {
      width: 960px;
      margin: auto;

      li {
        list-style-type: none;
        list-style-image: none;

        a {
          color: white;
          font-family: Didot;
          text-decoration: none;
        }
      }

      > li {
        display: inline-block;
        vertical-align: top;
        text-align: center;
        padding: 55px 35px;

        > a {
          display: block;
          text-transform: uppercase;
          position: relative;
          padding-bottom: 20px;
          margin-bottom: 20px;

          &:after {
            content: '';
            width: 100px;
            height: 1px;
            background: white;
            position: absolute;
            bottom: 0;
            left: 50%;
            @include transform(translateX(-50%));
          }
        }

        ul.menu {
          text-align: center;
        }
      }
    }
  }
}