@import '../variables/mixins';

html {
  background: $darkGrey;
}

body {
  background: url(../../images/pattern_background.png);
  color: white;
}

button {
  -webkit-appearance: none;
  background-color: transparent;
  border: none;
  border-radius: 0;
  color: white;
  cursor: pointer;
  outline: none;
}

.ajax-progress-throbber {
  position: absolute;
  left: 50%;
  @include transform(translateX(-50%));
  display: block !important;
  width: 20px;
  height: 20px;
  background-image: url(../../images/ajax-throbber/tasse.png);
  background-size: 100%;
  background-position: center center;
  background-repeat: no-repeat;

  &:before {
    content: '';
    position: absolute;
    width: 30px;
    height: 30px;
    top: -5px;
    left: -5px;
    @include transform-origin(center center);
    @include animation(spin 2s linear 0s infinite normal);
    background-image: url(../../images/ajax-throbber/elipse.png);
    background-size: 100%;
    background-position: center center;
    background-repeat: no-repeat;
  }
}

.l-page {
  overflow: hidden;
}

.ajax-progress, .throbber {
  display: none;
}

#todo-wrapper {
  text-align: center;
  background-image: url(../../images/feuilles_filigrane_left.svg), url(../../images/feuilles_filigrane_right.svg);
  background-repeat: repeat-y, repeat-y;
  background-position: left 10px top 550px, right 10px top 150px;
  background-size: 200px, 200px;
}

#section-title {
  display: inline-block;
  font-family: Dancing;
  font-size: 30px;
  padding: 30px 0px;
  margin-top: 15px;
  margin-bottom: 25px;
  border-bottom: 1px solid white;
}

#menu-parent-title {
  font-size: 26px;
  font-family: Dancing;
  color: $lightYellowFont;
  margin-bottom: 5px;
}

#popup-bck {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
}

.field--name-body a {
  color: $yellowFont;
}

#sliding-popup.sliding-popup-top {
  background-image: url(../../images/motif_popup_orange.png);
  background-color: $yellowBck;
  margin-top: 50px;
  padding-bottom: 8px;
  padding-top: 38px;
  height: 106px;
  box-sizing: border-box;
  z-index: 1;
  position: fixed !important;
  @include box-shadow(0px 0px 10px 0px black);

  .popup-content {
    overflow: hidden;

    #popup-text {
      float: none;
      margin: 0;
      max-width: 500px;
      margin: 10px auto;
      text-align: center;

      a, p {
        color: black !important;
        font-family: Didot;
        font-size: 15px;
        line-height: 20px;
      }
    }

    #popup-buttons {
      float: none;
      position: absolute;
      right: 10px;
      top: 65%;
      padding-right: 20px;
      @include transform(translateY(-50%));

      &:before {
        content: '×';
        position: absolute;
        z-index: -1;
        right: 0;
        top: 45%;
        @include transform(translateY(-50%));
        font-size: 50px;
        font-family: Didot;
        color: black;
      }

      .find-more-button {
        display: none;
      }

      .agree-button {
        margin: 0;
        padding: 10px 0;
        padding-right: 40px;
        margin-right: -27px;
        background: none;
        border: none;
        box-shadow: none;
        text-shadow: none;
        font-family: Didot;
        font-size: 15px;
      }
    }
  }
}

@media only screen and (max-width: $tabletBreakpoint) {
  #section-title {
    width: 90%;
    margin: auto;
  }

  .ajax-progress-throbber {
    display: none !important;
  }

  #sliding-popup.sliding-popup-top {
    margin-top: 8vw;

    .popup-content {
      #popup-text {
        max-width: 73%;

        a, p {
          font-size: 12px;
          line-height: 15px;
        }
      }

      #popup-buttons {
        top: 0;
        @include transform(none);

        &:before {
          font-size: 35px;
        }

        .agree-button {
          padding-right: 30px;
          font-size: 13px;
        }
      }
    }
  }
}