@keyframes swipeDown {
  from {
    -ms-transform: translateY(-100%); }
  to {
    -ms-transform: translateY(0); } }

@keyframes swipeDown {
  from {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%); }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0); } }

@-webkit-keyframes swipeDown {
  from {
    -webkit-transform: translateY(-100%); }
  to {
    -webkit-transform: translateY(0); } }

@keyframes swipeDownBack {
  from {
    -ms-transform: translateY(0); }
  to {
    -ms-transform: translateY(-100%); } }

@keyframes swipeDownBack {
  from {
    -webkit-transform: translateY(0);
            transform: translateY(0); }
  to {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%); } }

@-webkit-keyframes swipeDownBack {
  from {
    -webkit-transform: translateY(0); }
  to {
    -webkit-transform: translateY(-100%); } }

@keyframes swipeUp {
  from {
    -webkit-transform: translateY(100%);
            transform: translateY(100%); }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0); } }

@-webkit-keyframes swipeUp {
  from {
    -webkit-transform: translateY(100%); }
  to {
    -webkit-transform: translateY(0); } }

@keyframes swipeUp {
  from {
    -ms-transform: translateY(100%); }
  to {
    -ms-transform: translateY(0); } }

@keyframes swipeLeft {
  from {
    -webkit-transform: translateX(100%);
            transform: translateX(100%); }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0); } }

@-webkit-keyframes swipeLeft {
  from {
    -webkit-transform: translateX(100%); }
  to {
    -webkit-transform: translateX(0); } }

@keyframes swipeLeft {
  from {
    -ms-transform: translateX(100%); }
  to {
    -ms-transform: translateX(0); } }

@keyframes swipeRight {
  from {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%); }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0); } }

@-webkit-keyframes swipeRight {
  from {
    -webkit-transform: translateX(-100%); }
  to {
    -webkit-transform: translateX(0); } }

@keyframes swipeRight {
  from {
    -ms-transform: translateX(-100%); }
  to {
    -ms-transform: translateX(0); } }

@keyframes spin {
  0% {
    -ms-transform: rotate(0deg); }
  50% {
    -ms-transform: rotate(180deg); }
  100% {
    -ms-transform: rotate(360deg); } }

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg); }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg); }
  50% {
    -webkit-transform: rotate(180deg); }
  100% {
    -webkit-transform: rotate(360deg); } }

@font-face {
  font-family: 'Didot';
  src: url("/sites/all/themes/custom/twinings/fonts/theanodidot-regular-webfont.eot");
  src: url("/sites/all/themes/custom/twinings/fonts/theanodidot-regular-webfont.eot?#iefix") format("embedded-opentype"), url("/sites/all/themes/custom/twinings/fonts/theanodidot-regular-webfont.woff2") format("woff2"), url("/sites/all/themes/custom/twinings/fonts/theanodidot-regular-webfont.woff") format("woff"), url("/sites/all/themes/custom/twinings/fonts/theanodidot-regular-webfont.ttf") format("truetype"), url("/sites/all/themes/custom/twinings/fonts/theanodidot-regular-webfont.svg#theano_didotregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Dancing';
  src: url("/sites/all/themes/custom/twinings/fonts/dancingscript-regular-webfont.eot");
  src: url("/sites/all/themes/custom/twinings/fonts/dancingscript-regular-webfont.eot?#iefix") format("embedded-opentype"), url("/sites/all/themes/custom/twinings/fonts/dancingscript-regular-webfont.woff2") format("woff2"), url("/sites/all/themes/custom/twinings/fonts/dancingscript-regular-webfont.woff") format("woff"), url("/sites/all/themes/custom/twinings/fonts/dancingscript-regular-webfont.ttf") format("truetype"), url("/sites/all/themes/custom/twinings/fonts/dancingscript-regular-webfont.svg#dancing_script_otregular") format("svg");
  font-weight: normal;
  font-style: normal; }

.node--content-page.node--full .group-header {
  position: relative;
  height: 32vw;
  overflow: hidden; }
  .node--content-page.node--full .group-header .group-header-inner .field--name-field-header-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; }
    .node--content-page.node--full .group-header .group-header-inner .field--name-field-header-image img {
      width: 100%;
      height: auto; }
  .node--content-page.node--full .group-header .group-title {
    position: absolute;
    top: 50%;
    left: 50%;
    display: inline-block;
    text-align: center;
    transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%); }
    .node--content-page.node--full .group-header .group-title .group-title-inner {
      position: relative;
      display: inline-block;
      background-image: url(../../../../images/shadow_title.png);
      background-size: 100%;
      padding: 15px 30px; }
      .node--content-page.node--full .group-header .group-title .group-title-inner:before, .node--content-page.node--full .group-header .group-title .group-title-inner:after {
        content: '';
        position: absolute;
        left: 50%;
        width: 100%;
        height: 1px;
        z-index: 1;
        background-image: url(../../../../images/filet.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        -ms-transform: translateX(-50%); }
      .node--content-page.node--full .group-header .group-title .group-title-inner:before {
        top: 0; }
      .node--content-page.node--full .group-header .group-title .group-title-inner:after {
        bottom: 0; }
      .node--content-page.node--full .group-header .group-title .group-title-inner .field--name-title-field {
        font-family: Dancing;
        font-size: 50px;
        color: #f5da7a;
        margin-bottom: 5px; }
      .node--content-page.node--full .group-header .group-title .group-title-inner .field--name-field-subtitle {
        font-family: Didot;
        font-size: 30px;
        line-height: 35px;
        color: white;
        text-transform: uppercase;
        text-align: center; }

.node--content-page.node--full:not(.parent) .group-header .group-title .group-title-inner .field--name-title-field {
  font-family: Didot;
  font-size: 30px;
  line-height: 35px;
  color: white;
  text-transform: uppercase;
  text-align: center; }

.node--content-page.node--full #banner-wrapper {
  position: relative;
  z-index: 1; }
  .node--content-page.node--full #banner-wrapper .field--name-field-banner {
    padding: 50px 0;
    color: black;
    font-family: Didot;
    font-size: 16px;
    line-height: 20px; }
    .node--content-page.node--full #banner-wrapper .field--name-field-banner:after {
      content: '';
      position: absolute;
      bottom: -10px;
      height: 10px;
      width: 100%;
      background-repeat: repeat-x;
      background-size: 11px; }
    .node--content-page.node--full #banner-wrapper .field--name-field-banner .field__item {
      width: 620px;
      margin: auto; }

.node--content-page.node--full .group-specific-content {
  background-image: url(../../../../images/feuilles_filigrane_left.svg), url(../../../../images/feuilles_filigrane_right.svg);
  background-repeat: repeat-y;
  background-position: left 10px top 550px, right 10px top 150px;
  background-size: 200px; }
  .node--content-page.node--full .group-specific-content .field--name-field-information-boards {
    padding: 50px 0; }
    .node--content-page.node--full .group-specific-content .field--name-field-information-boards > .field__items {
      width: 960px;
      margin: auto; }

@media only screen and (max-width: 640px) {
  .node--content-page.node--full .group-header {
    height: 100vw; }
    .node--content-page.node--full .group-header .group-header-inner .field--name-field-header-image .field__item {
      position: relative;
      height: 100vw; }
      .node--content-page.node--full .group-header .group-header-inner .field--name-field-header-image .field__item img {
        position: absolute;
        top: 0;
        left: 50%;
        height: 100vw;
        width: auto;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        -ms-transform: translateX(-50%); }
    .node--content-page.node--full .group-header .group-title {
      width: 80vw; }
      .node--content-page.node--full .group-header .group-title .group-title-inner .field--name-title-field {
        font-size: 12vw; }
      .node--content-page.node--full .group-header .group-title .group-title-inner .field--name-field-subtitle {
        font-size: 6vw;
        line-height: 7vw; }
  .node--content-page.node--full:not(.parent) .group-header .group-title .group-title-inner .field--name-title-field {
    font-size: 7vw !important;
    line-height: 8vw !important; }
  .node--content-page.node--full #banner-wrapper .field--name-field-banner {
    padding: 50px 27px; }
    .node--content-page.node--full #banner-wrapper .field--name-field-banner:after {
      left: 0; }
    .node--content-page.node--full #banner-wrapper .field--name-field-banner .field__item {
      width: 100%; }
  .node--content-page.node--full .group-specific-content .field--name-field-information-boards > .field__items {
    width: 90%; } }

@media only screen and (min-width: 640px) and (max-width: 1024px) {
  .node--content-page.node--full .group-specific-content .field--name-field-information-boards > .field__items {
    width: 90%; }
  .node--content-page.node--full .group-header {
    height: 60vw; }
    .node--content-page.node--full .group-header .group-header-inner .field--name-field-header-image .field__item {
      position: relative;
      height: 100vw; }
      .node--content-page.node--full .group-header .group-header-inner .field--name-field-header-image .field__item img {
        position: absolute;
        top: 0;
        left: 50%;
        height: 100vw;
        width: auto;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        -ms-transform: translateX(-50%); }
    .node--content-page.node--full .group-header .group-title {
      width: 60vw; }
      .node--content-page.node--full .group-header .group-title .group-title-inner .field--name-title-field {
        font-size: 7vw; }
      .node--content-page.node--full .group-header .group-title .group-title-inner .field--name-field-subtitle {
        font-size: 4vw;
        line-height: 5vw; }
  .node--content-page.node--full:not(.parent) .group-header .group-title .group-title-inner .field--name-title-field {
    font-size: 4vw !important;
    line-height: 7vw !important; }
  .node--content-page.node--full:not(.parent) .group-header .group-title .group-title-inner #menu-parent-title {
    font-size: 4vw !important;
    line-height: 4vw !important; } }

/*# sourceMappingURL=node--content-page--full.css.map */
