@import '../../../variables/mixins';

.node--page  {
  .node__content {
    text-align: center;

    .field--name-title-field {
      position: relative;
      display: inline-block;
      padding: 15px 50px;
      margin-top: 70px;
      margin-bottom: 20px;
      font-family: Dancing;
      font-size: 26px;
      color: $yellowFont;

      &:before, &:after {
        content: '';
        position: absolute;
        left: 50%;
        width: 100%;
        height: 1px;
        background-image: url(../../../../images/filet.png);
        background-repeat: no-repeat;
        background-position: center;
        @include transform(translateX(-50%));
      }

      &:before {
        top: 0;
      }

      &:after {
        bottom: 0;
      }
    }

    .field--name-body {
      width: 960px;
      margin: 40px auto;
      text-align: center;
      font-family: Didot;
      font-size: 16px;
      line-height: 20px;
      color: #ccc;

      h3 {
        font-weight: bold;
        color: #fff;
        margin-top: 40px;
        margin-bottom: 15px;
        font-size: 18px;
      }

      h4 {
        font-weight: bold;
        color: #fff;
        margin-top: 10px;
        margin-bottom: 10px;
      }

      strong {
        font-weight: bold;
        color: #fff;
      }
    }
  }
}

.page-node-17, .page-node-51 {
  .node--page .node__content .field--name-body {
    text-align: left;
  }
}

@media only screen and (max-width: $tabletBreakpoint) {
  .node--page {
    .node__content {
      .field--name-body {
        width: 90%;
      }
    }
  }
}

@media only screen and (min-width: $tabletBreakpoint) and (max-width: $desktopBreakpoint) {
  .node--page {
    .node__content {
      &:before {
        width: 100%;
      }

      .field--name-body {
        width: 90%;
      }
    }
  }
}