@import '../../variables/mixins';

#block-main-home-scroll-banner {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 380px;
  background-image: url(../../../images/banner_background.png);

  &:after {
    content: '';
    position: absolute;
    bottom: -10px;
    height: 10px;
    width: 100%;
    background-image: url(../../../images/triangle.png);
    background-repeat: repeat-x;
    background-size: 12px 6px;
  }

  &:before {
    content: '';
    position: absolute;
    bottom: -100px;
    z-index: 10;
    width: 100%;
    height: 380px;
    background-image: url(../../../images/2fleurs.png), url(../../../images/1fleur.png);
    background-repeat: no-repeat;
    background-position: bottom 0px left 6vw, top 30% right 90px;
    background-size: 160px, 140px;
  }

  button#scroll-down {
    background-image: url(../../../images/banner_background.png);
  }

  #main-wrapper {
    width: 90%;
    position: absolute;
    top: 47%;
    left: 50%;
    text-align: center;
    padding-top: 40px;
    @include transform(translateX(-50%) translateY(-50%));

//    #left-wrapper, #right-wrapper {
//      display: inline-block;
//      vertical-align: top;
//    }

    #left-wrapper {
      img {
        border-radius: 50%;
        box-shadow: 0px 0px 12px -3px black;
      }
    }

    #right-wrapper {
      padding: 20px;

      .text {
        font-family: Dancing;
        font-size: 45px;

        #name {
          text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
        }

        #job {
          font-size: 30px;
          line-height: 35px;
          margin-top: 17px;
//          margin-left: 12px;
        }
      }
    }
  }

  a#discover {
    display: block;
    position: absolute;
    top: 70%;
    left: 50%;
    @include transform(translateX(-50%) translateY(-50%));
    font-family: Didot;
    font-size: 15px;
    border: 1px solid white;
    border-radius: 10px;
    padding: 13px 40px;
    color: white;
    text-decoration: none;

    &:before {
      content: '';
      position: absolute;
      top: 50%;
      left: 20px;
      @include transform(translateY(-50%));
      width: 0;
      height: 0;
      border-top: 5px solid transparent;
      border-left: 8px solid white;
      border-bottom: 5px solid transparent;
    }
  }
}

@media only screen and (max-width: $tabletBreakpoint) {
  #block-main-home-scroll-banner {
    height: auto;
    text-align: center;
    background-size: 400px, 485px 485px;
    background-position: center;

    &:after {
      left: 0;
      background-size: 8px;
    }

    .text {
      position: static;
      @include transform(none);
      padding: 30px 20px;
      font-size: 7vw;
    }

    a#discover {
      position: relative;
      top: 0;
      left: 0;
      @include transform(none);
      display: inline-block;
      margin-bottom: 70px;
    }
  }
}

@media only screen and (min-width: $tabletBreakpoint) and (max-width: $desktopBreakpoint) {
  #block-main-home-scroll-banner .text {
    left: 50%;
    width: 90%;
    font-size: 5vw;
    text-align: left;
  }
}
