@import '../../../variables/mixins';

.node--page.node-teaser {
  position: absolute;
  width: 260px;
  height: 320px;
  background-color: $beige;
  @include box-shadow(-12px 12px 0px 0px rgba(100, 100, 100, 0.15));

  .field--name-title-field {
    position: absolute;
    top: 225px;
    left: 7px;
    width: 250px;
    height: 90px;
    line-height: 45px;
    text-align: center;
    font-family: Dancing;
    font-size: 30px;
    color: orangered;
    z-index: 1;

    .field__items {
      position: absolute;
      width: 100%;
      top: 50%;
      left: 50%;
      @include transform(translateX(-50%) translateY(-50%));
    }
  }

  .field--name-field-teaser-image {
    display: none;
  }

  #button {
    position: absolute;
    left: 50%;
    bottom: 22px;
    z-index: 1;
    @include transform(translateX(-50%));
    border-radius: 50%;
    width: 50px;
    height: 50px;
    line-height: 47px;
    text-align: center;
    color: $darkGrey;
    font-size: 30px;
    background-color: $gold;
    cursor: pointer;

    &:after {
      content: '';
      position: absolute;
      top: -40px;
      left: -41px;
      width: 128px;
      height: 128px;
      border-radius: 50%;
      background-image: url(../../../../images/content_link_button_bck.png);
      background-position: top left;
    }
  }

  li.node-readmore {
    float: none;
    margin-right: 0;
    width: 220px;
    height: 200px;
    position: absolute;
    top: 20px;
    left: 20px;
  }
}

@media only screen and (max-width: $tabletBreakpoint) {
  .node--page.node-teaser {
    position: relative;
    display: inline-block;
    top: 0 !important;
    bottom: 0 !important;
    left: 0 !important;
    right: 0 !important;
    background-size: 67vw;
    @include transform(none !important);

    .field--name-title-field {
      width: 62vw;
      height: 11vw;
      top: 22vw;
      font-size: 8vw;
      line-height: 10vw;
    }

    #button {
      width: 14.5vw;
      height: 14.5vw;
      bottom: 4vw;
      font-size: 10vw;
      line-height: 14vw;

      &:after {
        top: -11.5vw;
        left: -11.6vw;
        width: 30vw;
        height: 30vw;
        background-size: 38vw;
      }
    }

    canvas {
      width: 68vw;
    }
  }
}