@import '../../variables/mixins';

.group-content-links {
  width: 100%;
  height: 1090px;
  overflow: hidden;
  background: url(../../../images/pattern_background.png);

  .field--name-field-content-links {
    position: relative;
    width: 900px;
    margin: auto;

    .field__item .node {
      opacity: 0;
    }

    .field__item:nth-of-type(1) .node {
      left: 130px;
      @include transition2(top .4s linear 0s, opacity .4s linear 0s);
    }

    .field__item:nth-of-type(2) .node {
      right: 130px;
      @include transition2(top .4s linear .4s, opacity .4s linear .4s);
    }

    .field__item:nth-of-type(3) .node {
      left: 130px;
      @include transition2(top .4s linear .8s, opacity .4s linear .8s);
    }

    .field__item:nth-of-type(4) .node {
      right: 130px;
      @include transition2(top .4s linear 1.2s, opacity .4s linear 1.2s);
    }
  }
}

@media only screen and (max-width: $tabletBreakpoint) {
  .group-content-links {
    height: auto;

    .field--name-field-content-links {
      width: 100%;
      padding-top: 80px;
      text-align: center;

      > .field__items > .field__item {
        margin-bottom: 30px;

        &:not(:first-of-type) {
          .node:before {
            content: none;
          }
        }

        .node {
          &:before, &:after {
            top: -45px !important;
          }

          &:after {
            height: 45px !important;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: $tabletBreakpoint) and (max-width: $desktopBreakpoint) {
  .group-content-links {
    .field--name-field-content-links {
      width: 640px;

      .field__item:nth-of-type(2n+1) .node {
        left: 0;
      }

      .field__item:nth-of-type(2n) .node {
        left: initial;
        right: 0;
      }
    }
  }
}