@keyframes swipeDown {
  from {
    -ms-transform: translateY(-100%); }
  to {
    -ms-transform: translateY(0); } }

@keyframes swipeDown {
  from {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%); }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0); } }

@-webkit-keyframes swipeDown {
  from {
    -webkit-transform: translateY(-100%); }
  to {
    -webkit-transform: translateY(0); } }

@keyframes swipeDownBack {
  from {
    -ms-transform: translateY(0); }
  to {
    -ms-transform: translateY(-100%); } }

@keyframes swipeDownBack {
  from {
    -webkit-transform: translateY(0);
            transform: translateY(0); }
  to {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%); } }

@-webkit-keyframes swipeDownBack {
  from {
    -webkit-transform: translateY(0); }
  to {
    -webkit-transform: translateY(-100%); } }

@keyframes swipeUp {
  from {
    -webkit-transform: translateY(100%);
            transform: translateY(100%); }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0); } }

@-webkit-keyframes swipeUp {
  from {
    -webkit-transform: translateY(100%); }
  to {
    -webkit-transform: translateY(0); } }

@keyframes swipeUp {
  from {
    -ms-transform: translateY(100%); }
  to {
    -ms-transform: translateY(0); } }

@keyframes swipeLeft {
  from {
    -webkit-transform: translateX(100%);
            transform: translateX(100%); }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0); } }

@-webkit-keyframes swipeLeft {
  from {
    -webkit-transform: translateX(100%); }
  to {
    -webkit-transform: translateX(0); } }

@keyframes swipeLeft {
  from {
    -ms-transform: translateX(100%); }
  to {
    -ms-transform: translateX(0); } }

@keyframes swipeRight {
  from {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%); }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0); } }

@-webkit-keyframes swipeRight {
  from {
    -webkit-transform: translateX(-100%); }
  to {
    -webkit-transform: translateX(0); } }

@keyframes swipeRight {
  from {
    -ms-transform: translateX(-100%); }
  to {
    -ms-transform: translateX(0); } }

@keyframes spin {
  0% {
    -ms-transform: rotate(0deg); }
  50% {
    -ms-transform: rotate(180deg); }
  100% {
    -ms-transform: rotate(360deg); } }

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg); }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg); }
  50% {
    -webkit-transform: rotate(180deg); }
  100% {
    -webkit-transform: rotate(360deg); } }

@font-face {
  font-family: 'Didot';
  src: url("/sites/all/themes/custom/twinings/fonts/theanodidot-regular-webfont.eot");
  src: url("/sites/all/themes/custom/twinings/fonts/theanodidot-regular-webfont.eot?#iefix") format("embedded-opentype"), url("/sites/all/themes/custom/twinings/fonts/theanodidot-regular-webfont.woff2") format("woff2"), url("/sites/all/themes/custom/twinings/fonts/theanodidot-regular-webfont.woff") format("woff"), url("/sites/all/themes/custom/twinings/fonts/theanodidot-regular-webfont.ttf") format("truetype"), url("/sites/all/themes/custom/twinings/fonts/theanodidot-regular-webfont.svg#theano_didotregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Dancing';
  src: url("/sites/all/themes/custom/twinings/fonts/dancingscript-regular-webfont.eot");
  src: url("/sites/all/themes/custom/twinings/fonts/dancingscript-regular-webfont.eot?#iefix") format("embedded-opentype"), url("/sites/all/themes/custom/twinings/fonts/dancingscript-regular-webfont.woff2") format("woff2"), url("/sites/all/themes/custom/twinings/fonts/dancingscript-regular-webfont.woff") format("woff"), url("/sites/all/themes/custom/twinings/fonts/dancingscript-regular-webfont.ttf") format("truetype"), url("/sites/all/themes/custom/twinings/fonts/dancingscript-regular-webfont.svg#dancing_script_otregular") format("svg");
  font-weight: normal;
  font-style: normal; }

.node--products-page.node--full .group-header {
  position: relative;
  height: 32vw;
  overflow: hidden; }
  .node--products-page.node--full .group-header .group-header-inner .field--name-field-header-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; }
    .node--products-page.node--full .group-header .group-header-inner .field--name-field-header-image img {
      width: 100%;
      height: auto; }
  .node--products-page.node--full .group-header .group-title {
    position: absolute;
    top: 50%;
    left: 50%;
    display: inline-block;
    text-align: center;
    transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%); }
    .node--products-page.node--full .group-header .group-title:before {
      content: '';
      width: 150%;
      height: 300%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      -webkit-transform: translateX(-50%) translateY(-50%);
      -moz-transform: translateX(-50%) translateY(-50%);
      -o-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
      background-image: url(../../../../images/nos-trouvailles/feuilles_titre.svg), url(../../../../images/nos-trouvailles/oiseau_titre.svg), url(../../../../images/nos-trouvailles/fleur_titre.svg);
      background-repeat: no-repeat;
      background-size: 47px, 50px, 49px;
      background-position: left 11% bottom 31%, left 14% top 29%, right 13% top 32%; }
    .node--products-page.node--full .group-header .group-title .group-title-inner {
      position: relative;
      display: inline-block;
      background-image: url(../../../../images/shadow_title.png);
      background-size: 100%;
      padding: 15px 30px; }
      .node--products-page.node--full .group-header .group-title .group-title-inner:before, .node--products-page.node--full .group-header .group-title .group-title-inner:after {
        content: '';
        position: absolute;
        left: 50%;
        width: 100%;
        height: 1px;
        z-index: 1;
        background-image: url(../../../../images/filet.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        -ms-transform: translateX(-50%); }
      .node--products-page.node--full .group-header .group-title .group-title-inner:before {
        top: 0; }
      .node--products-page.node--full .group-header .group-title .group-title-inner:after {
        bottom: 0; }
      .node--products-page.node--full .group-header .group-title .group-title-inner .field--name-title-field {
        font-family: Dancing;
        font-size: 50px;
        color: #edc41b;
        margin-bottom: 5px; }
      .node--products-page.node--full .group-header .group-title .group-title-inner .field--name-field-subtitle {
        font-family: Didot;
        font-size: 30px;
        line-height: 35px;
        color: white;
        text-transform: uppercase;
        text-align: center; }

.node--products-page.node--full #banner-wrapper {
  position: relative;
  z-index: 1; }
  .node--products-page.node--full #banner-wrapper .field--name-field-banner {
    padding: 50px 0;
    color: black;
    font-family: Didot;
    font-size: 16px;
    line-height: 20px;
    background-image: url(../../../../images/the-comme-twinings/carafe_bandeau.svg), url(../../../../images/the-comme-twinings/tasse_bandeau.svg), url(../../../../images/ricepaper_pink.png);
    background-repeat: no-repeat, no-repeat, repeat;
    background-position: 22% 9px, left 80% bottom 8px, center;
    background-size: 100px, 100px, 485px 485px; }
    .node--products-page.node--full #banner-wrapper .field--name-field-banner:after {
      content: '';
      position: absolute;
      bottom: -10px;
      height: 10px;
      width: 100%;
      background-image: url(../../../../images/triangle_pink.png);
      background-repeat: repeat-x;
      background-size: 11px; }
    .node--products-page.node--full #banner-wrapper .field--name-field-banner .field__item {
      width: 620px;
      margin: auto; }

.node--products-page.node--full button#scroll-down {
  background-image: url(../../../../images/ricepaper_pink.png); }

.node--products-page.node--full .field--name-field-products {
  padding-bottom: 100px;
  background-image: url(../../../../images/feuilles_filigrane_left.svg), url(../../../../images/feuilles_filigrane_right.svg);
  background-repeat: repeat-y, repeat-y;
  background-position: left 10px top 550px, right 10px top 150px;
  background-size: 200px, 200px; }
  .node--products-page.node--full .field--name-field-products .view {
    text-align: center; }
    .node--products-page.node--full .field--name-field-products .view .views-row {
      margin-bottom: 12px; }
    .node--products-page.node--full .field--name-field-products .view .view-filters {
      background-color: #f6bf05; }
      .node--products-page.node--full .field--name-field-products .view .view-filters form {
        position: relative;
        width: 960px;
        margin: auto; }
        .node--products-page.node--full .field--name-field-products .view .view-filters form .ajax-progress-throbber {
          top: 90px; }
        .node--products-page.node--full .field--name-field-products .view .view-filters form #edit-field-category-tid-wrapper {
          float: none;
          padding: 0; }
          .node--products-page.node--full .field--name-field-products .view .view-filters form #edit-field-category-tid-wrapper #edit-field-category-tid {
            width: 100%; }
            .node--products-page.node--full .field--name-field-products .view .view-filters form #edit-field-category-tid-wrapper #edit-field-category-tid .form-type-radio {
              display: inline-block;
              vertical-align: middle;
              text-align: center; }
              .node--products-page.node--full .field--name-field-products .view .view-filters form #edit-field-category-tid-wrapper #edit-field-category-tid .form-type-radio label {
                position: relative;
                display: block;
                padding: 20px 15px;
                margin-top: 10px;
                max-width: 130px;
                font-family: Didot;
                font-size: 12px;
                color: black;
                text-transform: uppercase;
                cursor: pointer; }
              .node--products-page.node--full .field--name-field-products .view .view-filters form #edit-field-category-tid-wrapper #edit-field-category-tid .form-type-radio:last-of-type label {
                padding-left: 45px;
                background-image: url(../../../../images/papillon_rose.svg);
                background-size: 20px;
                background-position: left 15px top 15px;
                background-repeat: no-repeat; }
              .node--products-page.node--full .field--name-field-products .view .view-filters form #edit-field-category-tid-wrapper #edit-field-category-tid .form-type-radio input {
                display: none; }
                .node--products-page.node--full .field--name-field-products .view .view-filters form #edit-field-category-tid-wrapper #edit-field-category-tid .form-type-radio input[checked] + label:after {
                  content: '';
                  position: absolute;
                  left: 50%;
                  bottom: -8px;
                  transform: translateX(-50%);
                  -webkit-transform: translateX(-50%);
                  -moz-transform: translateX(-50%);
                  -o-transform: translateX(-50%);
                  -ms-transform: translateX(-50%);
                  width: 0;
                  height: 0;
                  border-left: 6px solid transparent;
                  border-bottom: 9px solid #313539;
                  border-right: 6px solid transparent; }
    .node--products-page.node--full .field--name-field-products .view .product-category-label {
      display: inline-block;
      font-family: Dancing;
      font-size: 30px;
      padding: 30px 0px;
      margin-top: 15px;
      margin-bottom: 25px;
      border-bottom: 1px solid white;
      color: #edc41b;
      background-image: -webkit-gradient(linear, left top, right top, color-stop(0.43, #f6bf08), color-stop(0.68, white), color-stop(0.96, #f6bf08));
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent; }
    .node--products-page.node--full .field--name-field-products .view .view-content {
      width: 960px;
      margin: auto;
      text-align: center; }
      .node--products-page.node--full .field--name-field-products .view .view-content .views-row {
        display: inline-block;
        vertical-align: top; }

.node--products-page.node--full #choose-category {
  display: none; }

@media only screen and (max-width: 640px) {
  .node--products-page.node--full .group-header {
    height: 100vw; }
    .node--products-page.node--full .group-header .group-header-inner .field--name-field-header-image .field__item {
      position: relative;
      height: 100vw; }
      .node--products-page.node--full .group-header .group-header-inner .field--name-field-header-image .field__item img {
        position: absolute;
        top: 0;
        left: 50%;
        height: 100vw;
        width: auto;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        -ms-transform: translateX(-50%); }
    .node--products-page.node--full .group-header .group-title {
      width: 80vw; }
      .node--products-page.node--full .group-header .group-title .group-title-inner .field--name-title-field {
        font-size: 12vw; }
      .node--products-page.node--full .group-header .group-title .group-title-inner .field--name-field-subtitle {
        font-size: 6vw;
        line-height: 7vw; }
  .node--products-page.node--full:not(.parent) .group-header .group-title .group-title-inner .field--name-title-field {
    font-size: 7vw !important;
    line-height: 8vw !important; }
  .node--products-page.node--full #banner-wrapper .field--name-field-banner {
    padding: 50px 27px; }
    .node--products-page.node--full #banner-wrapper .field--name-field-banner:after {
      left: 0; }
    .node--products-page.node--full #banner-wrapper .field--name-field-banner .field__item {
      width: 100%; }
  .node--products-page.node--full .field--name-field-products .view .view-filters {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    width: 95%;
    z-index: 10; }
    .node--products-page.node--full .field--name-field-products .view .view-filters form {
      width: 100%; }
      .node--products-page.node--full .field--name-field-products .view .view-filters form #edit-field-category-tid-wrapper #edit-field-category-tid .form-type-radio {
        display: block; }
        .node--products-page.node--full .field--name-field-products .view .view-filters form #edit-field-category-tid-wrapper #edit-field-category-tid .form-type-radio:not(:last-of-type) label:before {
          content: '';
          position: absolute;
          bottom: 0;
          left: 50%;
          transform: translateX(-50%);
          -webkit-transform: translateX(-50%);
          -moz-transform: translateX(-50%);
          -o-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
          height: 1px;
          width: 90%;
          background-color: black; }
        .node--products-page.node--full .field--name-field-products .view .view-filters form #edit-field-category-tid-wrapper #edit-field-category-tid .form-type-radio:last-of-type label {
          background-position: left 55px top 15px; }
        .node--products-page.node--full .field--name-field-products .view .view-filters form #edit-field-category-tid-wrapper #edit-field-category-tid .form-type-radio label {
          position: relative;
          width: 100%;
          max-width: inherit;
          box-sizing: border-box; }
          .node--products-page.node--full .field--name-field-products .view .view-filters form #edit-field-category-tid-wrapper #edit-field-category-tid .form-type-radio label:after {
            bottom: 0 !important; }
        .node--products-page.node--full .field--name-field-products .view .view-filters form #edit-field-category-tid-wrapper #edit-field-category-tid .form-type-radio:last-of-type label {
          padding-left: 15px; }
  .node--products-page.node--full .field--name-field-products .view .view-content {
    width: 90%; }
  .node--products-page.node--full #choose-category {
    position: relative;
    display: block;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-family: Didot;
    color: black;
    padding-top: 25px;
    padding-bottom: 20px;
    background-color: #f6bf05; }
    .node--products-page.node--full #choose-category:before {
      content: '';
      position: absolute;
      top: 55%;
      right: 10px;
      transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      width: 30px;
      height: 30px;
      border: 1px solid black;
      border-radius: 50%; }
    .node--products-page.node--full #choose-category:after {
      content: '';
      position: absolute;
      top: 55%;
      right: 20px;
      transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      width: 0px;
      height: 0px;
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
      border-top: 8px solid black; } }

@media only screen and (min-width: 640px) and (max-width: 1024px) {
  .node--products-page.node--full .group-header {
    height: 60vw; }
    .node--products-page.node--full .group-header .group-header-inner .field--name-field-header-image .field__item {
      position: relative;
      height: 100vw; }
      .node--products-page.node--full .group-header .group-header-inner .field--name-field-header-image .field__item img {
        position: absolute;
        top: 0;
        left: 50%;
        height: 100vw;
        width: auto;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        -ms-transform: translateX(-50%); }
    .node--products-page.node--full .group-header .group-title {
      width: 60vw; }
      .node--products-page.node--full .group-header .group-title:before {
        width: 110%;
        z-index: 2; }
      .node--products-page.node--full .group-header .group-title .group-title-inner .field--name-title-field {
        font-size: 7vw; }
      .node--products-page.node--full .group-header .group-title .group-title-inner .field--name-field-subtitle {
        font-size: 3vw;
        line-height: 4vw; }
  .node--products-page.node--full .field--name-field-products .view .view-filters form {
    width: 100%; }
    .node--products-page.node--full .field--name-field-products .view .view-filters form #edit-field-category-tid-wrapper #edit-field-category-tid {
      text-align: center; }
      .node--products-page.node--full .field--name-field-products .view .view-filters form #edit-field-category-tid-wrapper #edit-field-category-tid .form-type-radio label {
        font-size: 1.3vw; }
  .node--products-page.node--full .field--name-field-products .view .view-content {
    width: 100%; } }

/*# sourceMappingURL=node--products-page--full.css.map */
