@import '../variables/mixins';

.page-node-5 {
  .group-content-links {
    background-image: url(../../images/background_global.png), url(../../images/pattern_background.png);
    background-repeat: no-repeat, repeat;
    background-position: center bottom;

    .field--name-field-content-links {
      .field__item:nth-of-type(1) .node {
        top: 230px;

        &:before, &:after {
          top: -130px;
        }

        &:after {
          height: 130px;
        }
      }

      .field__item:nth-of-type(2) .node {
        top: 350px;
      }

      .field__item:nth-of-type(3) .node {
        top: 770px;
        left: 50%;
        @include transform(translateX(-50%));

        &:before, &:after {
          top: -80px;
        }

        &:after {
          height: 80px;
        }
      }
    }
  }
}