@import '../../../variables/mixins';

.entity-frieze {
  width: 960px;
  margin: auto;
  text-align: center;
  padding-bottom: 100px;

  > .content > .field--name-title-field {
    display: inline-block;
    font-family: Dancing;
    font-size: 30px;
    padding: 30px 0px;
    margin-top: 15px;
    margin-bottom: 25px;
    border-bottom: 1px solid white;
  }

  .field--name-field-frieze-elements {
    position: relative;

    &:after {
      content: '';
      position: absolute;
      left: 50%;
      top: 0;
      height: 100%;
      width: 1px;
      background: white;
    }

    .field__item:not(:first-of-type):not(:last-of-type) {
      .field--name-field-subtitle {
        position: relative;

        &:after {
          content: '';
          position: absolute;
          top: 50%;
          @include transform(translateY(-50%));
          width: 7px;
          height: 7px;
          border-radius: 50%;
          background: white;
        }
      }

      .entity-frieze-element {
        &.text-on-the-left {
          .field--name-field-subtitle:after {
            right: -33px;
          }
        }

        &.text-on-the-right {
          .field--name-field-subtitle:after {
            left: -31px;
          }
        }
      }
    }

    .field__item:first-of-type {
      .entity-frieze-element {
        .group-text {
          position: relative;

          &:after {
            content: '';
            position: absolute;
            top: 0;
            width: 7px;
            height: 7px;
            border-radius: 50%;
            background: white;
          }
        }

        &.text-on-the-left .group-text:after {
          right: -33px;
        }

        &.text-on-the-right .group-text:after {
          left: -31px;
        }
      }
    }

    .field__item:last-of-type {
      .entity-frieze-element {
        .group-text {
          position: relative;

          &:after {
            content: '';
            position: absolute;
            bottom: 0;
            width: 7px;
            height: 7px;
            border-radius: 50%;
            background: white;
          }
        }

        &.text-on-the-left .group-text:after {
          right: -33px;
        }

        &.text-on-the-right .group-text:after {
          left: -31px;
        }
      }
    }
  }
}

@media only screen and (max-width: $tabletBreakpoint) {
  .entity-frieze {
    width: 100%;

    > .content {
      > .field--name-title-field {
        width: 70%;
        margin: 25px auto;
      }
    }

    .field--name-field-frieze-elements {
      .field__item:first-of-type {
        .entity-frieze-element.text-on-the-left {
          .group-text:after {
            right: -4vw !important;
          }
        }
      }

      .field__item:last-of-type {
        .entity-frieze-element.text-on-the-right {
          .group-text:after {
            left: -4vw !important;
          }
        }
      }
    }

    .field__item:not(:last-of-type):not(:first-of-type) {
      .entity-frieze-element.text-on-the-right {
        .field--name-field-subtitle:after {
          left: -4vw !important;
        }
      }

      .entity-frieze-element.text-on-the-left {
        .field--name-field-subtitle:after {
          right: -4vw !important;
        }
      }
    }
  }
}