@import '../../../variables/mixins';

.node--home-page  {
  > .node__content {
    position: relative;

    .group-media {
      .field--name-field-home-video {
        overflow: hidden;
      }
    }

    .group-headline {
      position: absolute;
      left: 50%;
      width: 415px;
      padding-bottom: 70px;
      border-left: 1px solid white;
      border-top: 1px solid white;
      border-right: 1px solid white;
      @include transform(translateX(-50%));

      .field--name-title-field {
        font-size: 45px;
        font-family: Dancing;
        text-align: center;
        width: 250px;
        margin: 20px auto;
      }

      .field--name-field-headline {
        font-size: 15px;
        font-family: Didot;
        text-align: center;
        margin: 0 10px;

      }

      .video-play-button-wrapper {
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 100.7%;
        @include transform(translateX(-50%) translateY(50%));

        &:before, &:after {
          content: '';
          position: absolute;
          top: 50%;
          height: 0;
          width: 175px;
          border-top: 1px solid white;
        }

        &:before {
          left: 0;
        }

        &:after {
          right: 0;
        }
      }
    }

    .group-content-links {
      position: absolute;
      width: 100%;
      min-height: 500px;
      background: url(../../../../images/pattern_background.png);

      .field--name-field-content-links {
        width: 900px;
        margin: auto;

        .field__item:nth-of-type(1) .node {
          top: 100px;
        }
      }
    }
  }
}