@import '../../../variables/mixins';

.node--home-page  {
  &.no-event {
    > .node__content {
      .group-header {
        .group-header-inner {
          .group-headline {
            padding-bottom: 50px;

            &:before {
              background-image: url(../../../../images/home/fleur.svg), url(../../../../images/home/papillons.svg), url(../../../../images/home/papillon.svg), url(../../../../images/home/papillon.svg);
              background-repeat: no-repeat;
              background-size: 95px, 96px, 45px, 30px;
              background-position: right 49px bottom 28px, right 45px top 0px, left 117px top 40px, left 81px top 20px;
            }

            .link-wrapper {
              position: absolute;
              bottom: 0;
              left: 50%;
              @include transform(translateX(-50%) translateY(50%));
              width: 100%;
              text-align: center;
            }

            a {
              position: relative;
              border: 1px solid white;
              border-radius: 10px;
              color: white;
              font-family: Didot;
              font-size: 15px;
              padding: 13px 25px;
              text-decoration: none;
              background-color: rgba(0, 0, 0, 0.3);

              &:before {
                content: '';
                position: absolute;
                top: 50%;
                left: 10px;
                @include transform(translateY(-50%));
                width: 0;
                height: 0;
                border-top: 5px solid transparent;
                border-left: 8px solid white;
                border-bottom: 5px solid transparent;
              }
            }

            .line {
              position: absolute;
              bottom: 8px;
              height: 1px;
              background-color: white;

              &:first-of-type {
                left: 0;
              }

              &:last-of-type {
                right: 0;
              }
            }
          }
        }
      }
    }
  }

  > .node__content {
    position: relative;

    .group-header {
      position: relative;
      overflow: hidden;

      .field--name-field-home-video {
        position: absolute;
        top: 50%;
        @include transform(translateY(-50%));
        overflow: hidden;
      }

      .field--name-field-image {
        img {
          display: none;
        }
      }

      .group-header-inner {
        position: relative;

        .group-headline {
          position: absolute;
          top: 50%;
          left: 50%;
          @include transform(translateY(-50%));
          width: 415px;
          padding-bottom: 70px;
          border-left: 1px solid white;
          border-top: 1px solid white;
          border-right: 1px solid white;
          background-color: rgba(0, 0, 0, 0.3);
          @include transform(translateX(-50%));
          @include transition(opacity .4s linear);

          &:before {
            content: '';
            width: 150%;
            height: 150%;
            position: absolute;
            top: 50%;
            left: 50%;
            @include transform(translateX(-50%) translateY(-50%));
            background-image: url(../../../../images/home/feuilles_evenmentiel.svg), url(../../../../images/home/papillon_evenementiel.svg), url(../../../../images/home/papillon_evenementiel2.svg);
            background-repeat: no-repeat;
            background-size: 68px, 55px, 45px;
            background-position: right 56px bottom 16px, right 45px top 0px, left 49px bottom 20px;
          }

          .field--name-title-field {
            font-size: 45px;
            font-family: Dancing;
            text-align: center;
            width: 250px;
            margin: 20px auto;
          }

          .field--name-field-headline {
            font-size: 15px;
            font-family: Didot;
            text-align: center;
            margin: 0 10px;
          }

          .video-play-button-wrapper {
            position: absolute;
            bottom: 0;
            left: 50%;
            width: 100.7%;
            @include transform(translateX(-50%) translateY(50%));

            &:before, &:after {
              content: '';
              position: absolute;
              top: 50%;
              height: 0;
              width: 175px;
              border-top: 1px solid white;
            }

            &:before {
              left: 0;
            }

            &:after {
              right: 0;
            }

            button {
              background-color: rgba(0, 0, 0, 0.3);
            }
          }
        }
      }
    }
    .group-content-links {
      position: relative;
      height: 1330px;
      background-image: url(../../../../images/background_global_home.png), url(../../../../images/feuilles_filigrane_left.svg), url(../../../../images/feuilles_filigrane_right.svg), url(../../../../images/pattern_background.png);
      background-repeat: no-repeat, repeat-y, repeat-y, repeat;
      background-position: center bottom, left 10px top 550px, right 10px top 150px, center bottom;
      background-size: 929px 1391px, 200px, 200px, 520px 520px;

      .field--name-field-content-links {
        .field__item:nth-of-type(1) .node {
          top: 230px;

          &:before, &:after {
            top: -130px;
          }

          &:after {
            height: 130px;
          }
        }

        .field__item:nth-of-type(2) .node {
          top: 330px;
        }

        .field__item:nth-of-type(3) .node {
          top: 700px;

          &:before, &:after {
            top: -80px;
          }

          &:after {
            height: 80px;
          }
        }

        .field__item:nth-of-type(4) .node {
          top: 890px;

          &:before, &:after {
            top: -80px;
          }

          &:after {
            height: 80px;
          }
        }
      }

      .field--name-field-bullet-popups {
        > .field__items > .field__item {
          &:nth-of-type(1) .group-button {
            right: 30%;
            top: 650px;

            #bullet-button {
              right: -80%;
              top: 50%;
              @include transform(translateY(-50%));
            }

            .field--name-field-button-label {
              position: relative;
              width: 165px;

              &:after {
                content: '';
                position: absolute;
                top: -35px;
                right: -28px;
                width: 87px;
                height: 38px;
                background-image: url(../../../../images/bullet/fleche_puce.png);
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: $tabletBreakpoint) {
  .node--home-page {
    > .node__content {
      .group-header {
        .group-header-inner {
          .group-headline {
            top: 20%;
            width: 85%;
            padding-bottom: 45px;

            &:before {
              width: 135%;
              height: 125%;
              background-size: 40px, 38px, 38px;
              background-position: right 27px bottom 4px, right 32px top 0px, left 32px bottom 0px;
            }

            .video-play-button-wrapper {
              &:before, &:after {
                width: 32vw;
              }
            }
          }
        }
      }

      .group-content-links {
        height: auto;
      }
    }
  }
}