@import '../../variables/mixins';

form.main-contact-form {
  label {
    display: none;
  }

  #edit-top-block {
    position: relative;
    left: 45px;
    width: 600px;
    margin: auto;
    margin-top: 0;
    margin-bottom: 50px;

    .form-type-textfield, .form-type-date-popup {
      display: inline-block;
      vertical-align: top;
      width: 250px;
      height: 30px;
    }

    .form-type-textarea {
      width: 530px;
    }

    .container-inline-date {
      display: inline-block;
    }

    .form-item:nth-of-type(2n+1) {
      margin-right: 25px;
      margin-bottom: 20px;
    }
  }

  #edit-bottom-block {
    background-image: url(../../../images/banner_background.png);
    padding: 30px 0px;

    .form-item {
      position: relative;
      left: 40px;
      width: 500px;
      margin: auto;
      margin-bottom: 20px;
    }

    #edit-actions {
      text-align: center;
    }
  }
}

@media only screen and (max-width: $tabletBreakpoint) {
  form.main-contact-form {
    #edit-top-block {
      width: 100%;
      left: 0;
      text-align: center;

      .form-item {
        margin-right: 0 !important;
      }

      .container-inline-date {
        width: 90%;
      }

      > .form-type-textfield {
        width: 90%;
      }

      .form-type-date-popup {
        width: 100%;
      }

      .form-item-birthday-date {
        width: 100%;
      }

      .form-type-textarea {
        width: 90%;
        margin: auto !important;
        margin-bottom: 20px !important;
      }
    }
  }
}