@import '../../../variables/mixins';

.node--product.node--full {
  .group-header {
    position: relative;
    height: 450px;
    text-align: center;
    overflow: hidden;

    img {
      display: block;
      margin: auto;
    }

    .field--name-title-field {
      position: absolute;
      bottom: 60px;
      left: 50%;
      @include transform(translateX(-50%));
      @include transition(opacity .4s linear);
      font-family: Dancing;
      font-size: 45px;
    }
  }

  .group-information {
    position: relative;
    padding-bottom: 50px;
    background-image: url(../../../../images/feuilles_filigrane_left.svg), url(../../../../images/feuilles_filigrane_right.svg);
    background-repeat: repeat-y, repeat-y;
    background-position: left 10px top 550px, right 10px top 150px;
    background-size: 200px, 200px;

    > div {
      width: 960px;
      margin: auto;
      text-align: center;
    }

    h3 {
      display: inline-block;
      font-family: Dancing;
      font-size: 30px;
      padding: 20px;
      margin-top: 15px;
      margin-bottom: 25px;
      border-bottom: 1px solid white;
      color: $yellowFont;
      background-image: -webkit-gradient(
                      linear,
                      left top,
                      right top,
                      color-stop(0.43, #f6bf08),
                      color-stop(0.68, white),
                      color-stop(0.96, #f6bf08)
      );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    .group-features {
      position: relative;
      width: 100%;
      padding: 50px 0;
      color: black;
      font-family: Didot;
      font-size: 16px;
      line-height: 20px;

      &:after {
        content: '';
        position: absolute;
        bottom: -4px;
        left: 0;
        z-index: 1;
        height: 10px;
        width: 100%;
        background-image: url(../../../../images/triangle_grey.png);
        background-repeat: repeat-x;
        background-size: 11px;
      }

      .group-features-inner {
        width: 960px;
        margin: auto;
        background-image: url(../../../../images/the-comme-twinings/carafe_bandeau.svg), url(../../../../images/the-comme-twinings/tasse_bandeau.svg);
        background-repeat: no-repeat, no-repeat;
        background-position: 4% 0px, left 92% bottom 8px;
        background-size: 100px, 100px;

        > .field, .group-misc {
          position: relative;
          display: inline-block;
          vertical-align: top;
          text-align: left;

          .field__label {
            font-family: Dancing;
            font-size: 25px;
            color: $lightYellowFont;
          }

          .field__items {
            padding-top: 15px;
            padding-left: 15px;
            font-family: Didot;
            font-size: 15px;
            line-height: 17px;
          }
        }

        > .field {
          margin-right: 25px;
          width: 25%;

          .field__items {
            padding-right: 40px;
          }

          &:after {
            content: '';
            width: 1px;
            height: 140px;
            background-color: black;
            position: absolute;
            right: 0;
            top: 13px;
          }
        }

        > .field:nth-of-type(2), .group-misc {
          margin-left: 20px;
        }

        .group-misc {
          width: 20%;

          .field--name-field-color {
            margin-bottom: 20px;
          }

          .field--name-field-intensity {
            .field__item {
              position: relative;
              display: inline-block;

              &:before, &:after {
                content: '';
                position: absolute;
                left: 120%;
                top: 50%;
                height: 20px;
                @include transform(translateY(-50%));
              }

              &:before {
                background-image: url(../../../../images/intensite_vide.svg);
                width: 60px;
              }
            }
          }
        }
      }
    }
  }

  &.low-intensity .group-information .group-features .group-features-inner .group-misc .field--name-field-intensity .field__item:after {
    width: 20px;
    background-image: url(../../../../images/intensite.svg);
  }

  &.average-intensity .group-information .group-features .group-features-inner .group-misc .field--name-field-intensity .field__item:after {
    width: 40px;
    background-image: url(../../../../images/intensite.svg);
  }

  &.high-intensity .group-information .group-features .group-features-inner .group-misc .field--name-field-intensity .field__item:after {
    width: 60px;
    background-image: url(../../../../images/intensite.svg);
  }

  .field--name-field-product-links {
    .field__item {
      display: inline-block;
      vertical-align: top;
    }
  }
}

@media only screen and (max-width: $tabletBreakpoint) {
  .node--product.node--full {
    .group-header {
      height: 100vw;

      .group-header-inner {
        .field--name-field-product-image {
          position: relative;

          img {
            position: absolute;
            left: 50%;
            @include transform(translateX(-50%));
            width: 550px;
            height: auto;
          }
        }
      }

      .field--name-title-field {
        font-size: 28px;
        width: 100%;
      }
    }

    .group-information {
      .group-features {
        .group-features-inner {
          width: 100%;

          .field, .group-misc {
            display: block;
            margin: auto;
            width: 90%;

            &:after {
              content: none;
            }
          }

          .group-misc {
            .field {
              margin-left: 0;
            }
          }

          .field {
            margin-bottom: 20px;
          }
        }
      }

      .group-product-links {
        width: 100%;
      }
    }
  }
}

@media only screen and (min-width: $tabletBreakpoint) and (max-width: $desktopBreakpoint) {
  .node--product.node--full {
    .group-information {
      .group-features .group-features-inner {
        width: 100%;
      }

      > div {
        width: 100%;
      }
    }
  }
}