@import '../../../variables/mixins';

.node--product.node--teaser {
  width: 240px;
  margin-bottom: 10px;
  text-align: center;

  .field--name-title-field {
    font-family: Dancing;
    font-size: 25px;
    color: $lightYellowFont;
    width: 80%;
    margin: auto;
    margin-bottom: 10px;
  }

  .field--name-field-summary {
    font-family: Didot;
    font-size: 15px;
    line-height: 18px;
    padding: 0px 10px;
  }

  > a {
    text-decoration: none;
    color: white;
  }
}