@import '../../../variables/mixins';

.node--content-page.node--full.category-the-comme-twinings {
  .field--name-field-banner {
    background-image: url(../../../../images/the-comme-twinings/carafe_bandeau.svg), url(../../../../images/the-comme-twinings/tasse_bandeau.svg), url(../../../../images/the-comme-twinings/baies_bandeau.svg), url(../../../../images/ricepaper_turquoise.png);
    background-repeat: no-repeat, no-repeat, no-repeat, repeat;
    background-position: 22% 9px, left 80% bottom 8px, left 21% bottom 18px, center;
    background-size: 100px, 100px, 100px, 485px 485px;

    &:after {
      background-image: url(../../../../images/triangle_turquoise.png);
    }

  }

  button#scroll-down {
    background-image: url(../../../../images/ricepaper_turquoise.png);
  }

  .group-title {
    &:before {
      content: '';
      width: 150%;
      height: 300%;
      position: absolute;
      top: 50%;
      left: 50%;
      @include transform(translateX(-50%) translateY(-50%));
      background-image: url(../../../../images/the-comme-twinings/feuilles_titre.svg), url(../../../../images/the-comme-twinings/fleurs_titre.svg), url(../../../../images/the-comme-twinings/theiere_titre.svg);
      background-repeat: no-repeat;
      background-size: 82px, 59px, 70px;
      background-position: right 4% bottom 31%, left 8% top 34%, right 5% top 27%;
    }
  }

  .field--name-field-information-boards {
    .entity-information-board {
      .form-wrapper.collapsible {

        > .fieldset-wrapper {
          background-image: url(../../../../images/the-comme-twinings/baies_bandeau.svg), url(../../../../images/the-comme-twinings/tasse_bandeau.svg), url(../../../../images/ricepaper_turquoise.png);
          background-repeat: no-repeat, no-repeat, repeat;
          background-position: left 25px bottom 20px, right 25px bottom 15px, center;
          background-size: 100px, 100px, 485px 485px;

          &:after {
            background-image: url(../../../../images/triangle_turquoise.png);
          }

          //          &:before {
          //            content: '';
          //            position: absolute;
          //            bottom: 0;
          //            left: 50%;
          //            z-index: 1;
          //            width: 70px;
          //            height: 70px;
          //            background-image: url(../../../../images/la-decouverte/feuille_verte.svg);
          //            background-repeat: no-repeat;
          //            background-position: 72% 1px;
          //            background-size: 70px;
          //          }
        }
      }
    }
  }
}