@import '../../../variables/mixins';

.node--content-page.node--full.category-la-decouverte {
  .field--name-field-banner {
    background-image: url(../../../../images/la-decouverte/feuille_bandeau.svg), url(../../../../images/la-decouverte/feuille_bandeau2.svg), url(../../../../images/la-decouverte/feuilles_bandeau.svg), url(../../../../images/ricepaper_light_green.png);
    background-repeat: no-repeat, no-repeat, no-repeat, repeat;
    background-position: 72% 1px, left 80% bottom 8px, 21% 80px, center;
    background-size: 100px, 100px, 100px, 485px 485px;

    &:after {
      background-image: url(../../../../images/triangle_light_green.png);
    }

  }

  button#scroll-down {
    background-image: url(../../../../images/ricepaper_light_green.png);
  }

  .field--name-field-information-boards {
    .entity-information-board {
      .form-wrapper.collapsible {

        > .fieldset-wrapper {
          background-image: url(../../../../images/la-decouverte/feuille_encart_texte.svg), url(../../../../images/la-decouverte/feuille_encart_texte.svg), url(../../../../images/la-decouverte/feuille_encart_texte_reverse.svg), url(../../../../images/la-decouverte/feuille_encart_texte_reverse.svg), url(../../../../images/ricepaper_light_green.png);
          background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, repeat;
          background-position: right 25px top 20px, left 70px top 110px, left 10px top 40px, right 80px bottom 20px, center;
          background-size: 68px, 33px, 68px, 33px, 485px 485px;

          &:after {
            background-image: url(../../../../images/triangle_light_green.png);
          }

          &:before {
            content: '';
            position: absolute;
            bottom: -40px;
            left: 50%;
            z-index: 1;
            width: 93px;
            height: 74px;
            background-image: url(../../../../images/la-decouverte/feuilles_vertes_bas_encart.svg);
            background-repeat: no-repeat;
          }

          .field--name-field-text {
            position: relative;

            &:before {
              content: '';
              position: absolute;
              top: 30%;
              left: -50px;
              z-index: 1;
              width: 99px;
              height: 59px;
              background-image: url(../../../../images/la-decouverte/feuille_jaune.svg);
              background-repeat: no-repeat;
            }
          }
        }
      }
    }
  }

  #tea-types-wrapper {
    width: 960px;
    height: 500px;
    margin: auto;
    text-align: center;

    #tea-types {
      position: relative;

      .node {
        .field--name-field-tea-image {
          position: absolute;
          top: 0;
          left: 50%;
          cursor: pointer;
        }

        &:nth-of-type(1) .field--name-field-tea-image {
          @include transform(translateX(-300%));
        }

        &:nth-of-type(2) .field--name-field-tea-image {
          @include transform(translateX(-180%));
        }

        &:nth-of-type(3) .field--name-field-tea-image {
          @include transform(translateX(-50%));
        }

        &:nth-of-type(4) .field--name-field-tea-image {
          @include transform(translateX(80%));
        }

        &:nth-of-type(5) .field--name-field-tea-image {
          @include transform(translateX(200%));
        }

        &.current {
          .field--name-field-tea-image {
            &:before {
              content: '';
              position: absolute;
              top: 50%;
              left: 50%;
              width: 170px;
              height: 170px;
              background-image: url(../../../../images/selection_the.png);
              @include transform(translateX(-50%) translateY(-50%));
            }
          }
        }

        .field--name-title-field {
          opacity: 0;
          position: absolute;
          top: 140px;
          left: 50%;
          font-family: Didot;
          font-size: 14px;
          text-transform: uppercase;
          @include transform(translateX(-50%));
          @include transition(opacity .4s linear);
        }

        .field--name-field-description {
          opacity: 0;
          position: absolute;
          top: 200px;
          left: 50%;
          font-family: Didot;
          font-size: 14px;
          line-height: 18px;
          @include transform(translateX(-50%));
          @include transition(opacity .4s linear);
        }
      }
    }
  }
}