@import '../../../variables/mixins';

.node--content-page.node--full.category-la-decouverte {
  .field--name-field-banner {
    background-image: url(../../../../images/la-decouverte/feuille_bandeau.svg), url(../../../../images/la-decouverte/feuille_bandeau2.svg), url(../../../../images/la-decouverte/feuilles_bandeau.svg), url(../../../../images/ricepaper_light_green.png);
    background-repeat: no-repeat, no-repeat, no-repeat, repeat;
    background-position: 72% 1px, left 80% bottom 8px, 21% 80px, center;
    background-size: 100px, 100px, 100px, 485px 485px;

    &:after {
      background-image: url(../../../../images/triangle_light_green.png);
    }

  }

  button#scroll-down {
    background-image: url(../../../../images/ricepaper_light_green.png);
  }

  .group-title {
    &:before {
      content: '';
      width: 150%;
      height: 300%;
      position: absolute;
      top: 50%;
      left: 50%;
      @include transform(translateX(-50%) translateY(-50%));
      background-image: url(../../../../images/la-decouverte/fleur_titre.svg), url(../../../../images/la-decouverte/oiseau_titre1.svg), url(../../../../images/la-decouverte/oiseau_titre2.svg), url(../../../../images/la-decouverte/papillon_titre.svg);
      background-repeat: no-repeat;
      background-size: 100px, 70px, 29px, 39px;
      background-position: right 9% bottom 18%, right 8% top 11%, right 16% top 23%, left 14% top 37%;
    }
  }

  .field--name-field-information-boards {
    .entity-information-board {
      .form-wrapper.collapsible {

        > .fieldset-wrapper {
          background-image: url(../../../../images/la-decouverte/feuille_encart_texte.svg), url(../../../../images/la-decouverte/feuille_encart_texte.svg), url(../../../../images/la-decouverte/feuille_encart_texte_reverse.svg), url(../../../../images/la-decouverte/feuille_encart_texte_reverse.svg), url(../../../../images/ricepaper_light_green.png);
          background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, repeat;
          background-position: right 25px top 20px, left 70px top 110px, left 10px top 40px, right 80px bottom 20px, center;
          background-size: 68px, 33px, 68px, 33px, 485px 485px;

          &:after {
            background-image: url(../../../../images/triangle_light_green.png);
          }

          &:before {
            content: '';
            position: absolute;
            bottom: -40px;
            left: 50%;
            z-index: 1;
            width: 93px;
            height: 74px;
            background-image: url(../../../../images/la-decouverte/feuilles_vertes_bas_encart.svg);
            background-repeat: no-repeat;
          }

          .field--name-field-text {
            position: relative;

            &:before {
              content: '';
              position: absolute;
              top: 30%;
              left: -50px;
              z-index: 1;
              width: 99px;
              height: 59px;
              background-image: url(../../../../images/la-decouverte/feuille_jaune.svg);
              background-repeat: no-repeat;
            }
          }
        }
      }
    }
  }

  #tea-types-wrapper {
    width: 960px;
    height: 500px;
    margin: auto;
    text-align: center;

    #tea-types {
      position: relative;

      .node {
        .field--name-field-tea-image {
          position: absolute;
          top: 0;
          left: 50%;
          cursor: pointer;
        }

        &:nth-of-type(1) .field--name-field-tea-image {
          @include transform(translateX(-300%));
        }

        &:nth-of-type(2) .field--name-field-tea-image {
          @include transform(translateX(-180%));
        }

        &:nth-of-type(3) .field--name-field-tea-image {
          @include transform(translateX(-50%));
        }

        &:nth-of-type(4) .field--name-field-tea-image {
          @include transform(translateX(80%));
        }

        &:nth-of-type(5) .field--name-field-tea-image {
          @include transform(translateX(200%));
        }

        &.current {
          .field--name-field-tea-image {
            &:before {
              content: '';
              position: absolute;
              top: 50%;
              left: 50%;
              width: 170px;
              height: 170px;
              background-image: url(../../../../images/selection_the.png);
              @include transform(translateX(-50%) translateY(-50%));
            }
          }
        }

        .field--name-title-field {
          opacity: 0;
          position: absolute;
          top: 140px;
          left: 50%;
          font-family: Didot;
          font-size: 14px;
          text-transform: uppercase;
          @include transform(translateX(-50%));
          @include transition(opacity .4s linear);
        }

        .field--name-field-description {
          opacity: 0;
          position: absolute;
          top: 200px;
          left: 50%;
          font-family: Didot;
          font-size: 14px;
          line-height: 18px;
          @include transform(translateX(-50%));
          @include transition(opacity .4s linear);
        }
      }
    }
  }

  #map-countries-wrapper {
    position: relative;
    width: 960px;
    height: 800px;
    margin: auto;
    text-align: center;
    background-image: url(../../../../images/map.png);
    background-repeat: no-repeat;
    background-position: right center;

    .node--map-country {
      .field--name-title-field {
        position: absolute;
        font-family: Didot;
        font-size: 10px;
        text-transform: uppercase;
        cursor: pointer;
        @include transition(font-size .1s linear);

        &:after {
          content: '';
          position: absolute;
          right: -30px;
          top: 50%;
          width: 25px;
          height: 25px;
          background-image: url(../../../../images/feuille_verte_map.svg);
          background-size: 80%;
          background-repeat: no-repeat;
          @include transform(translateY(-50%));
        }
      }

      .group-map-popup {
        opacity: 0;
        position: absolute;
        top: 160px;
        left: 0;
        width: 220px;
//        height: 420px;
        background-image: url(../../../../images/ricepaper_light_green.png);
        padding: 30px 20px;
        color: black;
        font-family: Didot;
        text-align: left;

        #popup-title {
          opacity: 0;
          @include transition(opacity .4s linear);
          font-size: 25px;
          text-transform: uppercase;
          margin-bottom: 20px;
        }

        .field--name-field-text {
          opacity: 0;
          @include transition(opacity .4s linear);
          font-size: 14px;
          line-height: 18px;
        }
      }

      &.current {
        #popup-title, .field--name-field-text {
          opacity: 1;
        }

        .group-map-popup {
          opacity: 1;
        }

        .field--name-title-field {
          color: $lightYellowFont;
          font-size: 14px;

          &:after {
            background-image: url(../../../../images/feuille_or_map.svg);
            background-size: 100%;
          }
        }
      }

      &:nth-of-type(1) .field--name-title-field {
        top: 480px;
        left: 440px;
      }

      &:nth-of-type(2) .field--name-title-field {
        top: 570px;
        left: 380px;
      }

      &:nth-of-type(3) .field--name-title-field {
        top: 540px;
        left: 530px;
      }

      &:nth-of-type(4) .field--name-title-field {
        top: 450px;
        left: 585px;
      }

      &:nth-of-type(5) .field--name-title-field {
        top: 475px;
        left: 690px;

        &:after {
          right: initial;
          left: -30px;
        }
      }

      &:nth-of-type(6) .field--name-title-field {
        top: 445px;
        left: 690px;

        &:after {
          right: initial;
          left: -30px;
        }
      }

      &:nth-of-type(7) .field--name-title-field {
        top: 428px;
        left: 690px;
      }

      &:nth-of-type(8) .field--name-title-field {
        top: 395px;
        left: 710px;
      }

      &:nth-of-type(9) .field--name-title-field {
        top: 380px;
        left: 775px;
      }

      &:nth-of-type(10) .field--name-title-field {
        top: 350px;
        left: 900px;

        &:after {
          right: initial;
          left: -30px;
        }
      }

      &:nth-of-type(11) .field--name-title-field {
        top: 385px;
        left: 875px;

        &:after {
          right: initial;
          left: -30px;
        }
      }

      &:nth-of-type(12) .field--name-title-field {
        top: 455px;
        left: 865px;

        &:after {
          right: initial;
          left: -30px;
        }
      }
    }
  }
}

@media only screen and (max-width: $tabletBreakpoint) {
  .node--content-page.node--full.category-la-decouverte {
    #tea-types-wrapper {
      width: 100%;
      height: auto;

      #tea-types {
        margin-top: 40px;

        .node {
          .field--name-field-tea-image {
            position: absolute;
            top: 0;
            left: 50%;
            cursor: pointer;

            img {
              width: 95px;
              height: auto;
            }
          }

          &:nth-of-type(1) .field--name-field-tea-image {
            @include transform(translateX(-160%));
          }

          &:nth-of-type(2) .field--name-field-tea-image {
            @include transform(translateX(-50%));
          }

          &:nth-of-type(3) .field--name-field-tea-image {
            @include transform(translateX(60%));
          }

          &:nth-of-type(4) .field--name-field-tea-image {
            @include transform(translateX(-104%) translateY(100%));
          }

          &:nth-of-type(5) .field--name-field-tea-image {
            @include transform(translateX(6%) translateY(100%));
          }

          &.current {
            .field--name-field-tea-image {
              &:before {
                width: 155px;
                height: 155px;
                background-size: 100%;
              }
            }
          }

          .field--name-title-field {
            position: static;
            opacity: initial;
            padding-top: 240px;
            @include transform(none);
          }

          .field--name-field-description {
            position: static;
            opacity: initial;
            width: 90vw;
            margin: auto;
            margin-top: 20px;
            @include transform(none);
          }
        }
      }
    }

    #map-countries-wrapper {
      width: 100%;
      height: auto;
      background-size: 100%;
      background-position: top 150px left;

      .node--map-country {
        .field--name-title-field {
          position: static;
        }

        .group-map-popup {
          margin: 50px auto;
          position: static;
          opacity: initial;
          width: 80%;

          #popup-title {
            opacity: initial;
          }

          .field--name-field-text {
            opacity: initial;
          }
        }
      }

      #title-wrapper {
        margin-top: 85vw;

        .field--name-title-field {
          display: inline-block;
          vertical-align: middle;
          text-transform: uppercase;
          border: 1px solid white;
          border-radius: 5px;
          padding: 5px;
          margin-right: 5px;
          margin-bottom: 5px;
          font-size: 5vw;

          &.current {
            color: $lightYellowFont;
            border: 1px solid $lightYellowFont;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: $tabletBreakpoint) and (max-width: $desktopBreakpoint) {
  .node--content-page.node--full.category-la-decouverte {
    .group-title:before {
      width: 90%;
      z-index: 2;
    }

    #tea-types-wrapper {
      width: 100%;
    }

    #map-countries-wrapper {
      width: 100%;
      height: auto;
      background-size: 100%;
      background-position: top 150px left;

      .node--map-country {
        .field--name-title-field {
          position: static;
        }

        .group-map-popup {
          margin: 50px auto;
          position: static;
          opacity: initial;
          width: 80%;

          #popup-title {
            opacity: initial;
          }

          .field--name-field-text {
            opacity: initial;
          }
        }
      }

      #title-wrapper {
        margin-top: 70vw;

        .field--name-title-field {
          display: inline-block;
          vertical-align: middle;
          text-transform: uppercase;
          border: 1px solid white;
          border-radius: 5px;
          padding: 5px;
          margin-right: 5px;
          margin-bottom: 5px;
          font-size: 2vw;

          &.current {
            color: $lightYellowFont;
            border: 1px solid $lightYellowFont;
          }
        }
      }
    }
  }
}